Repository aegisx-platform/aegisx-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

docs: update PROJECT_STATUS.md with E2E workflow fix
  PROJECT_STATUS.md
Due: prettier --write

fix: skip husky prepare script in GitHub Actions workflows
  .github/workflows/api-test.yml
  .github/workflows/auto-release.yml
  .github/workflows/ci-cd.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: prettier --write

fix: resolve linting errors in e2e and aegisx-ui projects
  .lintstagedrc.json
  apps/e2e/src/pages/base.page.ts
  apps/e2e/src/specs/a11y.spec.ts
  apps/e2e/src/specs/auth.spec.ts
  apps/e2e/src/specs/navigation.spec.ts
  apps/e2e/src/specs/performance.spec.ts
  apps/e2e/src/specs/simple-ui.spec.ts
  apps/e2e/src/specs/ui-integration.spec.ts
  apps/e2e/src/specs/visual.spec.ts
  apps/e2e/src/support/api-mock.helper.ts
  apps/e2e/src/support/global-teardown.ts
  libs/aegisx-ui/package.json
Due: prettier --write, eslint --fix --max-warnings=0

refactor: optimize GitHub workflows for 64% performance improvement
  .github/actions/setup-test-env/action.yml
  .github/workflow-config.yml
  .github/workflows/README.md
  .github/workflows/api-test.yml
  .github/workflows/auto-release.yml
  .github/workflows/ci-cd.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: prettier --write

fix: resolve GitHub Actions env context errors in service definitions
  .github/workflows/api-test.yml
  .github/workflows/ci-cd.yml
  .github/workflows/e2e.yml
  .github/workflows/security.yml
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package.json
  scripts/fix-husky.sh
  yarn.lock
Due: prettier --write

fix: resolve all unit test failures across monorepo
  apps/admin/jest.config.ts
  apps/api/src/modules/navigation/__tests__/navigation.repository.spec.ts
  apps/api/src/modules/navigation/__tests__/navigation.service.spec.ts
  apps/api/src/modules/user-profile/__tests__/user-profile.repository.spec.ts
  apps/api/src/modules/user-profile/__tests__/user-profile.service.spec.ts
  apps/web/src/app/app.spec.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: registration tests and error handling
  apps/api/src/__tests__/integration/setup.ts
  apps/api/src/modules/auth/auth.repository.ts
  apps/api/src/plugins/error-handler.plugin.ts
  apps/api/src/schemas/base.schemas.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: auth integration tests and login functionality
  apps/api/src/__tests__/integration/auth-flow.integration.spec.ts
  apps/api/src/__tests__/integration/auth-helper.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.routes.ts
  apps/api/src/modules/auth/auth.schemas.ts
  apps/api/src/modules/auth/services/auth.service.ts
  apps/api/src/modules/settings/settings.service.ts
  apps/api/src/plugins/error-handler.plugin.ts
  apps/api/src/schemas/base.schemas.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore: disable @typescript-eslint/no-inferrable-types rule
  eslint.config.mjs
Due: none

chore: clean up backup hook files
  .husky/pre-push.optimized
  .husky/pre-push.recommended
Due: none

feat(web): implement comprehensive frontend features for Clone 2
  apps/web/src/app/app.routes.ts
  apps/web/src/app/app.ts
  apps/web/src/app/features/settings/components/appearance-settings.component.ts
  apps/web/src/app/features/settings/components/general-settings.component.ts
  apps/web/src/app/features/settings/components/integration-settings.component.ts
  apps/web/src/app/features/settings/components/notification-settings.component.ts
  apps/web/src/app/features/settings/components/security-settings.component.ts
  apps/web/src/app/features/settings/settings.component.ts
  apps/web/src/app/features/users/index.ts
  apps/web/src/app/features/users/user-detail.component.ts
  apps/web/src/app/features/users/user-form-dialog.component.ts
  apps/web/src/app/features/users/user-list.component.ts
  apps/web/src/app/features/users/user.service.ts
  apps/web/src/app/pages/dashboard/dashboard.page.ts
  apps/web/src/app/pages/dashboard/widgets/activity-timeline.component.ts
  apps/web/src/app/pages/dashboard/widgets/chart-widget.component.ts
  apps/web/src/app/pages/dashboard/widgets/index.ts
  apps/web/src/app/pages/dashboard/widgets/progress-widget.component.ts
  apps/web/src/app/pages/dashboard/widgets/quick-actions.component.ts
  apps/web/src/app/pages/dashboard/widgets/stats-card.component.ts
  apps/web/src/app/shared/components/confirm-dialog.component.ts
  apps/web/src/environments/environment.prod.ts
  apps/web/src/environments/environment.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(api): implement Settings API with controller and repository pattern
  PROJECT_STATUS.md
  apps/api/src/__tests__/integration/settings.integration.spec.ts
  apps/api/src/__tests__/integration/setup.ts
  apps/api/src/modules/settings/settings.controller.ts
  apps/api/src/modules/settings/settings.plugin.ts
  apps/api/src/modules/settings/settings.repository.ts
  apps/api/src/modules/settings/settings.routes.ts
  apps/api/src/modules/settings/settings.schemas.ts
  apps/api/src/modules/settings/settings.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: resolve compilation errors and update Clone 2 progress
  WORK_DISTRIBUTION.md
  apps/web/src/app/app.ts
  apps/web/src/app/features/settings/components/appearance-settings.component.ts
  apps/web/src/app/features/settings/components/general-settings.component.ts
  apps/web/src/app/features/settings/components/notification-settings.component.ts
  apps/web/src/app/features/settings/components/security-settings.component.ts
  apps/web/src/app/features/settings/settings.component.ts
  apps/web/src/app/features/users/user-list.component.ts
  apps/web/src/app/pages/dashboard/dashboard.page.ts
  apps/web/src/app/pages/dashboard/widgets/chart-widget.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: complete Settings API integration tests and fix response handler
  PROJECT_STATUS.md
  apps/api/src/__tests__/integration/settings.integration.spec.ts
  apps/api/src/__tests__/integration/setup.ts
  apps/api/src/database/migrations/011_add_admin_wildcard_permission.ts
  apps/api/src/modules/settings/settings.controller.ts
  apps/api/src/modules/settings/settings.plugin.ts
  apps/api/src/modules/settings/settings.service.ts
  apps/api/src/plugins/response-handler.plugin.ts
  apps/api/src/test-helpers/app-helper.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: clean up Settings API linting issues
  apps/api/src/modules/settings/settings.plugin.ts
  apps/api/src/modules/settings/settings.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

docs: update PROJECT_STATUS.md - Settings API Module Complete
  PROJECT_STATUS.md
Due: prettier --write

docs: add Phase 3 work distribution plan
  WORK_DISTRIBUTION_PHASE3.md
Due: prettier --write

docs: add comprehensive Phase 3 tracking documentation
  CLONE_MERGE_PLAN.md
  PHASE3_PROGRESS_TRACKER.md
  PHASE3_STATUS_REPORT.md
Due: prettier --write

feat: add multi-clone development standards and automation scripts
  CLONE_SETUP_GUIDE.md
  MULTI_CLONE_DEVELOPMENT_STANDARDS.md
  apps/api/src/main.ts
  apps/api/src/modules/auth/services/secure-auth.service.ts
  apps/api/src/modules/settings/settings-cache.service.ts
  scripts/fix-dependencies.sh
  scripts/pre-push-check.sh
Due: prettier --write, eslint --fix --max-warnings=0

fix: standardize Fastify plugin naming conventions
  apps/api/src/modules/auth/auth.plugin.ts
  apps/api/src/modules/default/default.plugin.ts
  apps/api/src/modules/navigation/navigation.plugin.ts
  apps/api/src/modules/settings/settings.plugin.ts
  apps/api/src/modules/user-profile/user-profile.plugin.ts
  apps/api/src/plugins/error-handler.plugin.ts
  apps/api/src/plugins/health-check.plugin.ts
  apps/api/src/plugins/jwt-auth.plugin.ts
  apps/api/src/plugins/knex.plugin.ts
  apps/api/src/plugins/redis-monitoring.plugin.ts
  apps/api/src/plugins/redis.plugin.ts
  apps/api/src/plugins/response-handler.plugin.ts
  apps/api/src/plugins/static-files.plugin.ts
  docs/FASTIFY_PLUGIN_STANDARDS.md
Due: prettier --write, eslint --fix --max-warnings=0

fix: update auth-strategies plugin dependency to use knex-plugin
  apps/api/src/modules/auth/strategies/auth.strategies.ts
Due: prettier --write, eslint --fix --max-warnings=0

docs: remove unused development-roadmap.md file
  docs/development-roadmap.md
Due: prettier --write

feat: enhance universal standard with database-first approach and prevention checklist
  docs/development/universal-fullstack-standard.md
  scripts/check-database.sh
Due: prettier --write

feat: add comprehensive 16-point checklist to prevent all integration issues
  docs/development/universal-fullstack-standard.md
Due: prettier --write

docs: add critical standard development policy to prevent unauthorized changes
  CLAUDE.md
Due: prettier --write

docs: link universal fullstack standard to main project guidelines
  CLAUDE.md
Due: prettier --write

fix: add schemas-plugin dependency to all module plugins to prevent startup crash
  apps/api/src/modules/auth/auth.plugin.ts
  apps/api/src/modules/navigation/navigation.plugin.ts
  apps/api/src/modules/settings/settings.plugin.ts
  apps/api/src/modules/user-profile/user-profile.plugin.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: add Swagger grouping tags to auth routes
  PROJECT_STATUS.md
  apps/api/src/modules/auth/auth.routes.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: restructure aegisx-ui library with clean ax folder structure
  libs/aegisx-ui/src/lib/ax/README.md
  libs/aegisx-ui/src/lib/ax/animations/index.ts
  libs/aegisx-ui/src/lib/ax/components/ax-navigation-icon.component.ts
  libs/aegisx-ui/src/lib/ax/components/ax-navigation.component.scss
  libs/aegisx-ui/src/lib/ax/components/ax-navigation.component.ts
  libs/aegisx-ui/src/lib/ax/components/index.ts
  libs/aegisx-ui/src/lib/ax/directives/index.ts
  libs/aegisx-ui/src/lib/ax/index.ts
  libs/aegisx-ui/src/lib/ax/layouts/index.ts
  libs/aegisx-ui/src/lib/ax/services/index.ts
  libs/aegisx-ui/src/lib/ax/styles/ax.scss
  libs/aegisx-ui/src/lib/ax/types/ax-navigation.types.ts
  libs/aegisx-ui/src/lib/ax/types/index.ts
  libs/aegisx-ui/src/lib/ax/utils/index.ts
  libs/aegisx-ui/src/lib/index.ts
  libs/aegisx-ui/src/lib/layouts/fuse-classic/simple-vertical-navigation.component.ts
  libs/aegisx-ui/src/lib/layouts/fuse-compact/fuse-compact-layout.component.ts
  libs/aegisx-ui/src/lib/styles/index.scss
  libs/aegisx-ui/src/lib/utils/navigation-converter.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: remove subtitle property from navigation group to fix type error
  apps/web/src/app/app.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(navigation): enhance navigation UI with improved styling and responsiveness
  .playwright-mcp/navigation-collapsed-final-fixed.png
  .playwright-mcp/navigation-collapsed-fixed.png
  .playwright-mcp/navigation-collapsed-issue.png
  .playwright-mcp/navigation-collapsed-project-dashboard.png
  .playwright-mcp/navigation-collapsed.png
  NAVIGATION_RESPONSIVE_SUMMARY.md
  apps/web/src/app/app.ts
  apps/web/src/app/pages/dashboard/dashboard.page.ts
  libs/aegisx-ui/src/lib/aegisx-ui/aegisx-ui.html
  libs/aegisx-ui/src/lib/aegisx-ui/aegisx-ui.scss
  libs/aegisx-ui/src/lib/aegisx-ui/aegisx-ui.spec.ts
  libs/aegisx-ui/src/lib/aegisx-ui/aegisx-ui.ts
  libs/aegisx-ui/src/lib/components/ax-navigation.component.scss
  libs/aegisx-ui/src/lib/components/ax-navigation.component.ts
  libs/aegisx-ui/src/lib/components/navigation/navigation.component.ts
  libs/aegisx-ui/src/lib/layouts/fuse-compact/fuse-compact-layout.component.html
  libs/aegisx-ui/src/lib/layouts/fuse-compact/fuse-compact-layout.component.scss
  libs/aegisx-ui/src/lib/layouts/fuse-compact/fuse-compact-layout.component.ts
  libs/aegisx-ui/src/lib/services/fuse-media-watcher.service.ts
  responsive-test.html
Due: prettier --write, eslint --fix --max-warnings=0

refactor: rename all Fuse components to Ax
  apps/web/src/app/app.config.ts
  apps/web/src/app/app.routes.ts
  apps/web/src/app/app.ts
  apps/web/src/app/pages/test-ax/test-ax.component.ts
  apps/web/src/app/pages/test-fuse/test-fuse.component.ts
  libs/aegisx-ui/src/lib/animations/ax-animations.ts
  libs/aegisx-ui/src/lib/animations/fuse-animations.ts
  libs/aegisx-ui/src/lib/animations/index.ts
  libs/aegisx-ui/src/lib/components/ax-fullscreen.component.ts
  libs/aegisx-ui/src/lib/components/ax-loading-bar.component.ts
  libs/aegisx-ui/src/lib/components/fuse-fullscreen.component.ts
  libs/aegisx-ui/src/lib/components/fuse-loading-bar.component.ts
  libs/aegisx-ui/src/lib/directives/ax-scrollbar.directive.ts
  libs/aegisx-ui/src/lib/directives/fuse-scrollbar.directive.ts
  libs/aegisx-ui/src/lib/directives/index.ts
  libs/aegisx-ui/src/lib/index.ts
  libs/aegisx-ui/src/lib/layouts/ax-classic/ax-classic-layout.component.html
  libs/aegisx-ui/src/lib/layouts/ax-classic/ax-classic-layout.component.scss
  libs/aegisx-ui/src/lib/layouts/ax-classic/ax-classic-layout.component.ts
  libs/aegisx-ui/src/lib/layouts/ax-classic/simple-vertical-navigation.component.ts
  libs/aegisx-ui/src/lib/layouts/ax-compact/ax-compact-layout.component.html
  libs/aegisx-ui/src/lib/layouts/ax-compact/ax-compact-layout.component.scss
  libs/aegisx-ui/src/lib/layouts/ax-compact/ax-compact-layout.component.ts
  libs/aegisx-ui/src/lib/layouts/fuse-classic/fuse-classic-layout.component.html
  libs/aegisx-ui/src/lib/layouts/fuse-classic/fuse-classic-layout.component.scss
  libs/aegisx-ui/src/lib/layouts/fuse-classic/fuse-classic-layout.component.ts
  libs/aegisx-ui/src/lib/layouts/fuse-classic/simple-vertical-navigation.component.ts
  libs/aegisx-ui/src/lib/providers/ax.provider.ts
  libs/aegisx-ui/src/lib/providers/fuse.provider.ts
  libs/aegisx-ui/src/lib/services/ax-media-watcher.service.ts
  libs/aegisx-ui/src/lib/styles/ax.scss
  libs/aegisx-ui/src/lib/styles/index.scss
  libs/aegisx-ui/src/lib/types/ax-navigation-legacy.types.ts
  libs/aegisx-ui/src/lib/types/fuse-navigation.types.ts
  libs/aegisx-ui/src/lib/types/index.ts
  libs/aegisx-ui/src/lib/utils/navigation-converter.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: resolve Material Design input border conflict with Tailwind CSS
  apps/web/src/app/app.routes.ts
  apps/web/src/app/app.ts
  apps/web/src/app/pages/material-demo/material-demo.component.scss
  apps/web/src/app/pages/material-demo/material-demo.component.ts
  apps/web/src/app/pages/material-demo/test-material.component.ts
  apps/web/src/styles.scss
Due: prettier --write, eslint --fix --max-warnings=0

fix: add reflect-metadata import for tsyringe dependency injection
  apps/api/src/main.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: add /api prefix to user management routes
  apps/api/src/modules/users/users.routes.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: standardize API response schemas and fix user management
  PROJECT_STATUS.md
  apps/api/src/database/seeds/001_initial_data.ts
  apps/api/src/modules/users/users.controller.ts
  apps/api/src/modules/users/users.repository.ts
  apps/api/src/modules/users/users.routes.ts
  apps/api/src/modules/users/users.schemas.ts
  apps/api/src/schemas/base.schemas.ts
  apps/web/src/app/features/users/user-list.component.ts
  apps/web/src/app/features/users/user.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: correct floating label positioning in form utility classes
  apps/web/src/styles/components/_form-utilities.scss
Due: prettier --write

feat: enhance Angular app with UI improvements and authentication docs
  PROJECT_STATUS.md
  apps/api/src/modules/auth/auth.routes.ts
  apps/api/src/plugins/swagger.plugin.ts
  apps/web/project.json
  apps/web/src/app/app.ts
  apps/web/src/app/features/users/user-list.component.ts
  apps/web/src/app/pages/material-demo/material-demo.component.scss
  apps/web/src/app/pages/material-demo/material-demo.component.ts
  apps/web/src/styles.scss.backup
  apps/web/src/styles/README.md
  apps/web/src/styles/components/_material-fixes.scss
Due: prettier --write, eslint --fix --max-warnings=0

Path conditions:
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss,less})) or (any of: *.html)
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
