Repository aegisx-platform/aegisx-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

docs(api): add layer-based routing architecture guide
  docs/guides/development/api-calling-standard.md
Due: prettier --write

chore(workflow): add inventory routes refactoring specs
  .spec-workflow/approvals/inventory-routes-refactoring/.snapshots/design.md/metadata.json
  .spec-workflow/approvals/inventory-routes-refactoring/.snapshots/design.md/snapshot-001.json
  .spec-workflow/approvals/inventory-routes-refactoring/.snapshots/design.md/snapshot-002.json
  .spec-workflow/approvals/inventory-routes-refactoring/.snapshots/requirements.md/metadata.json
  .spec-workflow/approvals/inventory-routes-refactoring/.snapshots/requirements.md/snapshot-001.json
  .spec-workflow/approvals/inventory-routes-refactoring/.snapshots/requirements.md/snapshot-002.json
  .spec-workflow/approvals/inventory-routes-refactoring/.snapshots/tasks.md/metadata.json
  .spec-workflow/approvals/inventory-routes-refactoring/.snapshots/tasks.md/snapshot-001.json
  .spec-workflow/approvals/inventory-routes-refactoring/.snapshots/tasks.md/snapshot-002.json
  .spec-workflow/specs/inventory-routes-refactoring/Implementation Logs/task-1_2025-12-15T1236_7a1997bb.md
  .spec-workflow/specs/inventory-routes-refactoring/Implementation Logs/task-2_2025-12-15T1238_83812f6d.md
  .spec-workflow/specs/inventory-routes-refactoring/Implementation Logs/task-6_2025-12-15T1240_653a8a89.md
  .spec-workflow/specs/inventory-routes-refactoring/Implementation Logs/task-7_2025-12-15T1244_e2c95894.md
  .spec-workflow/specs/inventory-routes-refactoring/design.md
  .spec-workflow/specs/inventory-routes-refactoring/requirements.md
  .spec-workflow/specs/inventory-routes-refactoring/tasks.md
  docs/specs/inventory-routes-refactoring.md
Due: prettier --write

refactor(web): remove demo features and clean up navigation
  apps/web/src/app/core/navigation/services/navigation.service.ts
  apps/web/src/app/core/rbac/rbac.routes.ts
  apps/web/src/app/features/inventory/inventory.routes.ts
  apps/web/src/app/features/inventory/pages/main/main.config.ts
  apps/web/src/app/features/inventory/pages/master-data/master-data.config.ts
  apps/web/src/app/features/inventory/pages/master-data/master-data.page.ts
  apps/web/src/app/features/system/system.config.ts
  apps/web/src/app/features/system/system.routes.ts
  apps/web/src/app/features/test-products/components/test-products-create.dialog.ts
  apps/web/src/app/features/test-products/components/test-products-edit.dialog.ts
  apps/web/src/app/features/test-products/components/test-products-form.component.ts
  apps/web/src/app/features/test-products/components/test-products-import.dialog.ts
  apps/web/src/app/features/test-products/components/test-products-list-filters.component.ts
  apps/web/src/app/features/test-products/components/test-products-list-header.component.ts
  apps/web/src/app/features/test-products/components/test-products-list.component.html
  apps/web/src/app/features/test-products/components/test-products-list.component.scss
  apps/web/src/app/features/test-products/components/test-products-list.component.ts
  apps/web/src/app/features/test-products/components/test-products-view.dialog.ts
  apps/web/src/app/features/test-products/services/test-products-state-manager.service.ts
  apps/web/src/app/features/test-products/services/test-products.service.ts
  apps/web/src/app/features/test-products/test-products.routes.ts
  apps/web/src/app/features/test-products/types/test-products.types.ts
  apps/web/src/app/pages/components/buttons/buttons.page.ts
  apps/web/src/app/pages/components/cards/cards.page.ts
  apps/web/src/app/pages/components/forms/forms.page.ts
  apps/web/src/app/pages/components/tables/tables.page.ts
  apps/web/src/app/pages/theme-showcase/sections/advanced.section.ts
  apps/web/src/app/pages/theme-showcase/sections/buttons-actions.section.ts
  apps/web/src/app/pages/theme-showcase/sections/data-display.section.ts
  apps/web/src/app/pages/theme-showcase/sections/feedback.section.ts
  apps/web/src/app/pages/theme-showcase/sections/form-controls.section.ts
  apps/web/src/app/pages/theme-showcase/sections/layout.section.ts
  apps/web/src/app/pages/theme-showcase/sections/navigation.section.ts
  apps/web/src/app/pages/theme-showcase/theme-showcase.page.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(import-discovery): include layers directory in scan path
  apps/api/src/layers/platform/import/discovery/import-discovery.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(users): add department integration with auto-population
  apps/api/src/layers/core/auth/auth.repository.ts
  apps/api/src/layers/domains/inventory/budget/budgetRequests/__tests__/budget-requests.integration.spec.ts
  apps/api/src/layers/domains/inventory/budget/budgetRequests/budget-requests.service.ts
  apps/api/src/layers/platform/users/__tests__/users.integration.spec.ts
  apps/api/src/layers/platform/users/index.ts
  apps/api/src/layers/platform/users/users.plugin.ts
  apps/api/src/layers/platform/users/users.schemas.ts
  apps/api/src/layers/platform/users/users.service.ts
  apps/api/src/layers/platform/users/users.types.ts
  apps/web/src/app/core/auth/services/auth.service.spec.ts
  apps/web/src/app/core/auth/services/auth.service.ts
  apps/web/src/app/features/inventory/inventory.routes.ts
  apps/web/src/app/features/inventory/modules/budget-requests/components/budget-requests-form.component.ts
  apps/web/src/app/features/inventory/pages/main/main.config.ts
  docs/guides/migrations/user-department-integration.md
  docs/reference/api/users-api.md
Due: prettier --write, eslint --fix --max-warnings=0

chore(spec): add spec workflow documentation
  .spec-workflow/approvals/user-department-integration/task-6-auth-service-tests-implementation.md
  .spec-workflow/specs/import-discovery-layers-fix/Implementation Logs/task-1_2025-12-16T0104_de23b6c9.md
  .spec-workflow/specs/import-discovery-layers-fix/Implementation Logs/task-1_2025-12-16T0108_992c0213.md
  .spec-workflow/specs/import-discovery-layers-fix/Implementation Logs/task-2_2025-12-16T0108_bad0a0a2.md
  .spec-workflow/specs/import-discovery-layers-fix/Implementation Logs/task-3_2025-12-16T0110_e62511e5.md
  .spec-workflow/specs/import-discovery-layers-fix/design.md
  .spec-workflow/specs/import-discovery-layers-fix/requirements.md
  .spec-workflow/specs/import-discovery-layers-fix/tasks.md
  .spec-workflow/specs/user-department-integration/Implementation Logs/task-13_2025-12-16T0209_c0927092.md
  .spec-workflow/specs/user-department-integration/Implementation Logs/task-14_2025-12-16T0209_088121c0.md
  .spec-workflow/specs/user-department-integration/Implementation Logs/task-17_2025-12-16T0219_a3920001.md
  .spec-workflow/specs/user-department-integration/Implementation Logs/task-18_2025-12-16T0221_c7143afc.md
  .spec-workflow/specs/user-department-integration/Implementation Logs/task-19_2025-12-16T0222_221fc2a7.md
  .spec-workflow/specs/user-department-integration/Implementation Logs/task-2_2025-12-16T1200_department-schemas.md
  .spec-workflow/specs/user-department-integration/Implementation Logs/task-3_2025-12-16T0752_auth-department-integration.md
  .spec-workflow/specs/user-department-integration/Implementation Logs/task-4_2025-12-16T0800_department-validation.md
  .spec-workflow/specs/user-department-integration/Implementation Logs/task-5_2025-12-16T0751_ffdcd634.md
  .spec-workflow/specs/user-department-integration/design.md
  .spec-workflow/specs/user-department-integration/requirements.md
  .spec-workflow/specs/user-department-integration/tasks.md
Due: prettier --write

feat(navigation): add monitoring activity logs, audit menu, and API keys to navigation
  apps/web/src/app/core/navigation/services/navigation.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

test(api): fix controller tests by adding FastifyReply type extensions
  apps/api/src/layers/core/audit/activity-logs/__tests__/activity-logs.controller.spec.ts
  apps/api/src/layers/core/audit/error-logs/__tests__/error-logs.controller.spec.ts
  apps/api/src/layers/platform/api-keys/__tests__/api-keys.controller.spec.ts
Due: prettier --write, eslint --fix --max-warnings=0

docs: add comprehensive Claude Skills team collaboration guide
  .claude/skills/MASTER_PLAN.md
  .claude/skills/aegisx-development-workflow/README.md
  .claude/skills/aegisx-development-workflow/SKILL.md
  .claude/skills/aegisx-development-workflow/scripts/workflow.sh
  .claude/skills/api-contract-generator/README.md
  .claude/skills/api-contract-generator/SKILL.md
  .claude/skills/api-contract-generator/scripts/generate.sh
  .claude/skills/api-endpoint-tester/README.md
  .claude/skills/api-endpoint-tester/SKILL.md
  .claude/skills/api-endpoint-tester/scripts/test.sh
  .claude/skills/backend-customization-guide/README.md
  .claude/skills/backend-customization-guide/REFERENCE.md
  .claude/skills/backend-customization-guide/SKILL.md
  .claude/skills/crud-generator-guide/README.md
  .claude/skills/crud-generator-guide/SKILL.md
  .claude/skills/crud-generator-guide/scripts/generate.sh
  .claude/skills/frontend-integration-guide/INDEX.md
  .claude/skills/frontend-integration-guide/README.md
  .claude/skills/frontend-integration-guide/REFERENCE.md
  .claude/skills/frontend-integration-guide/SKILL.md
  .claude/skills/frontend-integration-guide/templates/form-dialog.component.template
  .claude/skills/frontend-integration-guide/templates/list.component.template
  .claude/skills/frontend-integration-guide/templates/list.component.template.html
  .claude/skills/frontend-integration-guide/templates/service.template
  .claude/skills/frontend-integration-guide/templates/types.template
  .claude/skills/typebox-schema-generator/README.md
  .claude/skills/typebox-schema-generator/SKILL.md
  .claude/skills/typebox-schema-generator/scripts/generate.sh
  FRONTEND_INTEGRATION_GUIDE_COMPLETION.md
  docs/.vitepress/config.mts
  docs/guides/development/claude-skills-team-guide.md
Due: prettier --write

feat: add documentation-standards skill for consistent file organization
  .claude/skills/documentation-standards/README.md
  .claude/skills/documentation-standards/SKILL.md
  .gitignore
  FRONTEND_INTEGRATION_GUIDE_COMPLETION.md
Due: prettier --write

fix: allow completion reports to be committed for progress tracking
  .claude/skills/documentation-standards/README.md
  .claude/skills/documentation-standards/SKILL.md
  .gitignore
Due: prettier --write

fix(api): remove duplicate password routes and fix path redundancy
  apps/api/src/layers/platform/users/users.routes.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore(spec): archive completed user-profile-password-endpoint specification
  .spec-workflow/approvals/user-profile-password-endpoint/.snapshots/design.md/metadata.json
  .spec-workflow/approvals/user-profile-password-endpoint/.snapshots/design.md/snapshot-001.json
  .spec-workflow/approvals/user-profile-password-endpoint/.snapshots/requirements.md/metadata.json
  .spec-workflow/approvals/user-profile-password-endpoint/.snapshots/requirements.md/snapshot-001.json
  .spec-workflow/approvals/user-profile-password-endpoint/.snapshots/requirements.md/snapshot-002.json
  .spec-workflow/approvals/user-profile-password-endpoint/.snapshots/tasks.md/metadata.json
  .spec-workflow/approvals/user-profile-password-endpoint/.snapshots/tasks.md/snapshot-001.json
  .spec-workflow/archive/specs/user-profile-password-endpoint/Implementation Logs/task-1_2025-12-16T1614_5b48b751.md
  .spec-workflow/archive/specs/user-profile-password-endpoint/Implementation Logs/task-2_2025-12-16T1618_46757080.md
  .spec-workflow/archive/specs/user-profile-password-endpoint/Implementation Logs/task-3_2025-12-16T1620_981be368.md
  .spec-workflow/archive/specs/user-profile-password-endpoint/Implementation Logs/task-4_2025-12-16T1623_9f47e917.md
  .spec-workflow/archive/specs/user-profile-password-endpoint/design.md
  .spec-workflow/archive/specs/user-profile-password-endpoint/requirements.md
  .spec-workflow/archive/specs/user-profile-password-endpoint/tasks.md
Due: prettier --write

docs(api): add route analysis and password endpoint documentation
  api-routes-review.md
  password-routes-analysis.md
Due: prettier --write

fix(api): remove duplicate API prefix in static file routes
  apps/api/src/plugins/static-files.plugin.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(api): remove debug test endpoint from production code
  apps/api/src/layers/platform/rbac/rbac.routes.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore(config): use environment variables for MCP configuration
  .gitignore
  .mcp.json.example
Due: none

feat(database): add performance indexes for RBAC permission queries
  apps/api/src/database/migrations/20251217040500_add_rbac_performance_indexes.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(rbac): implement automatic permission cache invalidation
  apps/api/src/layers/core/auth/services/permission-cache-invalidation.service.ts
  apps/api/src/layers/platform/rbac/rbac.plugin.ts
  apps/api/src/layers/platform/rbac/rbac.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

docs(auth-rbac): add completion report and update review documentation
  .spec-workflow/specs/auth-rbac-improvements/COMPLETION_REPORT.md
  auth-rbac-review.md
Due: prettier --write

docs(auth-rbac): update completion report with Phase 4 test results
  .spec-workflow/specs/auth-rbac-improvements/COMPLETION_REPORT.md
Due: prettier --write

chore(rbac-consolidation): complete Tasks 1-2 - audit and RBAC analysis
  .spec-workflow/specs/rbac-permission-consolidation/tasks.md
Due: prettier --write

feat(rbac-consolidation): complete Task 7 - database migration to remove permissions
  apps/api/src/database/migrations/20251217163651_remove_user_departments_permissions.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore(rbac-consolidation): update tasks.md - mark Tasks 6-7 as complete
  .spec-workflow/specs/rbac-permission-consolidation/tasks.md
Due: prettier --write

refactor(rbac-consolidation): simplify UserDepartmentsService validation (Tasks 12-14)
  .spec-workflow/specs/rbac-permission-consolidation/tasks.md
  apps/api/src/layers/platform/users/index.ts
  apps/api/src/layers/platform/users/user-departments.service.ts
  apps/api/src/layers/platform/users/users.plugin.ts
Due: prettier --write, eslint --fix --max-warnings=0

test(rbac-consolidation): create comprehensive UserDepartmentsService unit tests (Task 15)
  .spec-workflow/specs/rbac-permission-consolidation/tasks.md
  apps/api/src/layers/platform/users/user-departments.service.spec.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(rbac-consolidation): create TypeBox schemas without permissions (Tasks 16-18)
  .spec-workflow/specs/rbac-permission-consolidation/tasks.md
  apps/api/src/layers/platform/users/user-departments.schemas.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore(rbac-consolidation): complete build verification and skip frontend tests (Tasks 24-26)
  .spec-workflow/specs/rbac-permission-consolidation/tasks.md
Due: prettier --write

docs(rbac-consolidation): complete Phase 9 documentation and finalize project (Tasks 28-35)
  .spec-workflow/specs/rbac-permission-consolidation/API_DOCUMENTATION_UPDATES.md
  .spec-workflow/specs/rbac-permission-consolidation/ARCHITECTURE_UPDATES.md
  .spec-workflow/specs/rbac-permission-consolidation/COMPLETION_REPORT.md
  .spec-workflow/specs/rbac-permission-consolidation/DEPLOYMENT_CHECKLIST.md
  .spec-workflow/specs/rbac-permission-consolidation/Implementation Logs/task-5_2025-12-17T0932_6b91ceaa.md
  .spec-workflow/specs/rbac-permission-consolidation/MIGRATION_RUNBOOK.md
  .spec-workflow/specs/rbac-permission-consolidation/design.md
  .spec-workflow/specs/rbac-permission-consolidation/requirements.md
  .spec-workflow/specs/rbac-permission-consolidation/tasks.md
Due: prettier --write

fix(api): resolve TypeBox schema validation and serialization errors
  apps/api/src/layers/domains/inventory/budget/budgetRequests/budget-requests.schemas.ts
  apps/api/src/schemas/base.schemas.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(api): change USER_NO_DEPARTMENT error from 400 to 422
  apps/api/src/layers/domains/inventory/budget/budgetRequests/budget-requests.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(skills): add fastify-error-debugger skill with intelligent model selection
  .claude/skills/fastify-error-debugger/README.md
  .claude/skills/fastify-error-debugger/REFERENCE.md
  .claude/skills/fastify-error-debugger/SKILL.md
  .claude/skills/fastify-error-debugger/templates/checklist.md
  .claude/skills/fastify-error-debugger/templates/error-fix.md
Due: prettier --write

feat(platform): implement RBAC improvements, logging standardization, and documentation updates
  .spec-workflow/approvals/rbac-permission-consolidation/.snapshots/design.md/metadata.json
  .spec-workflow/approvals/rbac-permission-consolidation/.snapshots/design.md/snapshot-001.json
  .spec-workflow/approvals/rbac-permission-consolidation/.snapshots/requirements.md/metadata.json
  .spec-workflow/approvals/rbac-permission-consolidation/.snapshots/requirements.md/snapshot-001.json
  .spec-workflow/approvals/rbac-permission-consolidation/.snapshots/tasks.md/metadata.json
  .spec-workflow/approvals/rbac-permission-consolidation/.snapshots/tasks.md/snapshot-001.json
  .spec-workflow/specs/auth-rbac-improvements/design.md
  .spec-workflow/specs/auth-rbac-improvements/requirements.md
  .spec-workflow/specs/auth-rbac-improvements/task-8-migration-test-report.md
  .spec-workflow/specs/auth-rbac-improvements/tasks.md
  apps/api/src/bootstrap/index.ts
  apps/api/src/bootstrap/startup-display.ts
  apps/api/src/config/logger.config.ts
  apps/api/src/layers/platform/user-profile/repositories/profile.repository.ts
  apps/api/src/layers/platform/user-profile/schemas/profile.schemas.ts
  apps/api/src/layers/platform/user-profile/services/profile.service.ts
  apps/api/src/layers/platform/users/user-departments.controller.ts
  apps/api/src/layers/platform/users/user-departments.routes.ts
  apps/api/src/layers/platform/users/users.repository.ts
  apps/api/src/shared/utils/logger.util.ts
  apps/web/src/app/core/auth/services/auth.service.ts
  apps/web/src/app/core/user-profile/components/activity-log/activity-log.service.ts
  apps/web/src/app/core/users/services/user.service.ts
  docs/.vitepress/config.mts
  docs/getting-started/getting-started.md
  docs/guides/development/LOGGING_STANDARDIZATION_SUMMARY.md
  docs/guides/development/logging-refactor-examples.md
  docs/guides/development/logging-standard.md
  docs/index.md
  docs/public/favicon.svg
  docs/public/logo.svg
Due: prettier --write, eslint --fix --max-warnings=0

refactor(bootstrap): improve logging with pino and cleanup email service
  apps/api/src/bootstrap/index.ts
  apps/api/src/bootstrap/plugin.loader.ts
  apps/api/src/bootstrap/server.factory.ts
  apps/api/src/shared/services/email.service.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0

fix(services): prevent duplicate initialization logs in font and PDF services
  apps/api/src/services/font-manager.service.ts
  apps/api/src/services/pdfmake.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(api): add server-side chart generation for PDF reports
  .spec-workflow/specs/pdf-charts-feature/README.md
  .spec-workflow/specs/pdf-charts-feature/design.md
  .spec-workflow/specs/pdf-charts-feature/requirements.md
  .spec-workflow/specs/pdf-charts-feature/tasks.md
  apps/api/src/services/__examples__/pdf-charts-example.ts
  apps/api/src/services/chart.service.spec.ts
  apps/api/src/services/chart.service.ts
  apps/api/src/services/pdfmake.service.spec.ts
  apps/api/src/services/pdfmake.service.ts
  docs/guides/README.md
  docs/guides/reports/README.md
  docs/guides/reports/pdf-charts-guide.md
  docs/reference/api/chart-generation-api.md
  docs/reference/api/pdf-export-api.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0

feat(api): integrate Sarabun font with ChartService for Thai support
  apps/api/src/services/chart.service.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0

Path conditions:
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss,less})) or (any of: *.html)
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
