Repository aegisx-platform/aegisx-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.{css,scss,less}": ["prettier --write"],
  "*.html": ["prettier --write"]
}

feat(crud-generator): add PostgreSQL schema support for multi-schema databases
  libs/aegisx-crud-generator/bin/cli.js
  libs/aegisx-crud-generator/lib/generators/backend-generator.js
  libs/aegisx-crud-generator/lib/utils/database.js
Due: prettier --write, eslint --fix --max-warnings=0

fix(crud-generator): fix Handlebars or helper for multiple arguments
  libs/aegisx-crud-generator/lib/core/template-renderer.js
  libs/aegisx-crud-generator/lib/generators/backend-generator.js
  libs/aegisx-crud-generator/lib/generators/shell-generator.js
Due: prettier --write, eslint --fix --max-warnings=0

fix(crud-generator): fix domain template import paths for nested modules
  apps/api/src/modules/inventory/index.ts
  apps/api/src/modules/inventory/master-data/drugGenerics/controllers/drug-generics.controller.ts
  apps/api/src/modules/inventory/master-data/drugGenerics/index.ts
  apps/api/src/modules/inventory/master-data/drugGenerics/repositories/drug-generics.repository.ts
  apps/api/src/modules/inventory/master-data/drugGenerics/routes/index.ts
  apps/api/src/modules/inventory/master-data/drugGenerics/schemas/drug-generics.schemas.ts
  apps/api/src/modules/inventory/master-data/drugGenerics/services/drug-generics.service.ts
  apps/api/src/modules/inventory/master-data/drugGenerics/types/drug-generics.types.ts
  apps/api/src/modules/inventory/master-data/drugs/controllers/drugs.controller.ts
  apps/api/src/modules/inventory/master-data/drugs/index.ts
  apps/api/src/modules/inventory/master-data/drugs/repositories/drugs.repository.ts
  apps/api/src/modules/inventory/master-data/drugs/routes/index.ts
  apps/api/src/modules/inventory/master-data/drugs/schemas/drugs.schemas.ts
  apps/api/src/modules/inventory/master-data/drugs/services/drugs.service.ts
  apps/api/src/modules/inventory/master-data/drugs/types/drugs.types.ts
  apps/api/src/modules/inventory/master-data/index.ts
  libs/aegisx-crud-generator/lib/generators/backend-generator.js
  libs/aegisx-crud-generator/templates/backend/domain/controller.hbs
  libs/aegisx-crud-generator/templates/backend/domain/domain-index.hbs
  libs/aegisx-crud-generator/templates/backend/domain/repository.hbs
  libs/aegisx-crud-generator/templates/backend/domain/route.hbs
  libs/aegisx-crud-generator/templates/backend/domain/schemas.hbs
  libs/aegisx-crud-generator/templates/backend/domain/service.hbs
  libs/aegisx-crud-generator/templates/backend/domain/test.hbs
Due: prettier --write, eslint --fix --max-warnings=0

docs(crud-generator): add comprehensive CLI documentation
  libs/aegisx-crud-generator/docs/CLI_REFERENCE.md
  libs/aegisx-crud-generator/docs/DOMAIN_GUIDE.md
  libs/aegisx-crud-generator/docs/QUICK_REFERENCE.md
  libs/aegisx-crud-generator/docs/README.md
Due: prettier --write

docs(admin): add CLI Reference docs page and update npm package name
  apps/admin/src/app/app.routes.ts
  apps/admin/src/app/config/navigation.config.ts
  apps/admin/src/app/pages/docs/cli/cli-reference.component.ts
  apps/admin/src/app/pages/docs/mcp/crud-generator/mcp-crud-generator.component.ts
  apps/admin/src/app/pages/tools/crud-generator/crud-generator-tool.component.ts
  apps/admin/src/app/routes/docs/cli.routes.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore(crud-generator): update sync script to use @aegisx/cli repo
  libs/aegisx-crud-generator/sync-to-repo.sh
Due: none

refactor(cli): rename libs/aegisx-crud-generator to libs/aegisx-cli
  src/resources/index.ts
Due: prettier --write, eslint --fix --max-warnings=0

refactor(docs): optimize CLAUDE.md for better performance
  CLAUDE.md
  docs/development/claude-detailed-rules.md
Due: prettier --write

refactor(api): restructure drugs module to flat structure
  apps/api/src/database/migrations/20251205190833_add_drugs_permissions.ts
  apps/api/src/modules/inventory/master-data/drugs/drugs.controller.ts
  apps/api/src/modules/inventory/master-data/drugs/drugs.repository.ts
  apps/api/src/modules/inventory/master-data/drugs/drugs.route.ts
  apps/api/src/modules/inventory/master-data/drugs/drugs.schemas.ts
  apps/api/src/modules/inventory/master-data/drugs/drugs.service.ts
  apps/api/src/modules/inventory/master-data/drugs/drugs.types.ts
  apps/api/src/modules/inventory/master-data/drugs/index.ts
Due: prettier --write, eslint --fix --max-warnings=0

refactor(admin): update CRUD generator docs page layout
  apps/admin/src/app/pages/docs/mcp/crud-generator/mcp-crud-generator.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(aegisx-mcp): add domain management commands support
  src/data/crud-commands.ts
  src/tools/crud.tool.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(aegisx-mcp): add domain management commands support
  CLAUDE.md
  docs/crud-generator/QUICK_REFERENCE.md
  libs/aegisx-mcp/src/data/crud-commands.ts
  libs/aegisx-mcp/src/tools/crud.tool.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(crud-generator): use dynamic paths in domain templates for schema isolation
  libs/aegisx-cli/templates/backend/domain/index.hbs
  libs/aegisx-cli/templates/shared/permissions-migration.hbs
Due: none

chore: bump @aegisx/cli to 3.1.0 and @aegisx/mcp to 1.2.0
  package-lock.json
  package.json
Due: prettier --write

refactor(api): simplify swagger UI config and remove unused options
  apps/api/src/plugins/swagger.plugin.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore(deps): add @scalar/fastify-api-reference
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(aegisx-cli): add --shell option for frontend generation
  libs/aegisx-cli/bin/cli.js
  libs/aegisx-cli/lib/generators/frontend-generator.js
Due: prettier --write, eslint --fix --max-warnings=0

feat(aegisx-cli): improve frontend generator with master-data config registration
  libs/aegisx-cli/bin/cli.js
  libs/aegisx-cli/lib/generators/frontend-generator.js
  libs/aegisx-cli/templates/frontend/v2/create-dialog-v2.hbs
  libs/aegisx-cli/templates/frontend/v2/edit-dialog-v2.hbs
  libs/aegisx-cli/templates/frontend/v2/list-component-v2.hbs
Due: prettier --write, eslint --fix --max-warnings=0

feat(inventory): add dosage-forms and drugs frontend modules
  apps/api/src/database/migrations-inventory/20251206081703_add_dosageForms_permissions.ts
  apps/web/src/app/features/inventory/inventory.config.ts
  apps/web/src/app/features/inventory/inventory.routes.ts
  apps/web/src/app/features/inventory/modules/dosage-forms/components/dosage-forms-create.dialog.ts
  apps/web/src/app/features/inventory/modules/dosage-forms/components/dosage-forms-edit.dialog.ts
  apps/web/src/app/features/inventory/modules/dosage-forms/components/dosage-forms-form.component.ts
  apps/web/src/app/features/inventory/modules/dosage-forms/components/dosage-forms-list-filters.component.ts
  apps/web/src/app/features/inventory/modules/dosage-forms/components/dosage-forms-list-header.component.ts
  apps/web/src/app/features/inventory/modules/dosage-forms/components/dosage-forms-list.component.html
  apps/web/src/app/features/inventory/modules/dosage-forms/components/dosage-forms-list.component.scss
  apps/web/src/app/features/inventory/modules/dosage-forms/components/dosage-forms-list.component.ts
  apps/web/src/app/features/inventory/modules/dosage-forms/components/dosage-forms-view.dialog.ts
  apps/web/src/app/features/inventory/modules/dosage-forms/dosage-forms.routes.ts
  apps/web/src/app/features/inventory/modules/dosage-forms/services/dosage-forms.service.ts
  apps/web/src/app/features/inventory/modules/dosage-forms/types/dosage-forms.types.ts
  apps/web/src/app/features/inventory/modules/drugs/components/drugs-create.dialog.ts
  apps/web/src/app/features/inventory/modules/drugs/components/drugs-edit.dialog.ts
  apps/web/src/app/features/inventory/modules/drugs/components/drugs-form.component.ts
  apps/web/src/app/features/inventory/modules/drugs/components/drugs-list-filters.component.ts
  apps/web/src/app/features/inventory/modules/drugs/components/drugs-list-header.component.ts
  apps/web/src/app/features/inventory/modules/drugs/components/drugs-list.component.html
  apps/web/src/app/features/inventory/modules/drugs/components/drugs-list.component.scss
  apps/web/src/app/features/inventory/modules/drugs/components/drugs-list.component.ts
  apps/web/src/app/features/inventory/modules/drugs/components/drugs-view.dialog.ts
  apps/web/src/app/features/inventory/modules/drugs/drugs.routes.ts
  apps/web/src/app/features/inventory/modules/drugs/services/drugs.service.ts
  apps/web/src/app/features/inventory/modules/drugs/types/drugs.types.ts
  apps/web/src/app/features/inventory/modules/master-data/master-data.component.ts
  apps/web/src/app/features/inventory/modules/master-data/master-data.config.ts
  apps/web/src/app/features/inventory/modules/master-data/master-data.routes.ts
  apps/web/src/app/pages/portal/portal.config.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(docker): fix config.json permission for nginx access
  apps/admin/docker-entrypoint.sh
  apps/web/docker-entrypoint.sh
Due: none

feat(aegisx-cli): add auto route registration to shell generator
  apps/web/src/app/app.routes.ts
  apps/web/src/app/features/inventory/index.ts
  apps/web/src/app/features/inventory/inventory-shell.component.ts
  apps/web/src/app/features/inventory/inventory.config.ts
  apps/web/src/app/features/inventory/inventory.routes.ts
  apps/web/src/app/features/inventory/modules/.gitkeep
  apps/web/src/app/features/inventory/pages/dashboard/dashboard.page.ts
  apps/web/src/app/features/inventory/pages/master-data/master-data.config.ts
  apps/web/src/app/features/inventory/pages/master-data/master-data.page.ts
  libs/aegisx-cli/bin/cli.js
  libs/aegisx-cli/lib/generators/frontend-generator.js
  libs/aegisx-cli/lib/generators/shell-generator.js
Due: prettier --write, eslint --fix --max-warnings=0

feat(ui): improve enterprise layout active route styling
  apps/web/src/app/features/inventory/inventory.config.ts
  apps/web/src/app/features/inventory/inventory.routes.ts
  apps/web/src/app/features/inventory/pages/dashboard/dashboard.page.ts
  apps/web/src/app/features/inventory/pages/main/main.config.ts
  apps/web/src/app/features/inventory/pages/main/main.page.ts
  apps/web/src/app/pages/portal/portal.config.ts
  libs/aegisx-cli/lib/generators/shell-generator.js
  libs/aegisx-cli/templates/shell/shell-routes.hbs
  libs/aegisx-ui/src/lib/components/launcher/launcher-card.component.ts
  libs/aegisx-ui/src/lib/components/launcher/launcher.component.ts
  libs/aegisx-ui/src/lib/layouts/enterprise/enterprise-layout.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(ui): improve ax-launcher gridster integration and add enablePinned config
  libs/aegisx-ui/src/lib/components/launcher/launcher-card.component.ts
  libs/aegisx-ui/src/lib/components/launcher/launcher.component.ts
  libs/aegisx-ui/src/lib/components/launcher/launcher.types.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(aegisx-cli): auto-detect domain from dbSchema for permissions migration
  libs/aegisx-cli/lib/generators/backend-generator.js
Due: prettier --write, eslint --fix --max-warnings=0

docs(crud-generator): clarify documentation location strategy
  docs/crud-generator/README.md
  libs/aegisx-cli/docs/README.md
Due: prettier --write

feat(aegisx-mcp): add shell, section commands and new generate options
  src/data/crud-commands.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(aegisx-mcp): add shell, section commands and new generate options
  libs/aegisx-mcp/src/data/crud-commands.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore(aegisx-mcp): bump version to 1.2.1
  package-lock.json
  package.json
Due: prettier --write

chore(aegisx-cli): bump version to 3.2.0
  libs/aegisx-cli/package.json
Due: prettier --write

feat(inventory-frontend): generate master data modules with full package
  apps/web/src/app/features/inventory/inventory.routes.ts
  apps/web/src/app/features/inventory/modules/bank/bank.routes.ts
  apps/web/src/app/features/inventory/modules/bank/components/bank-create.dialog.ts
  apps/web/src/app/features/inventory/modules/bank/components/bank-edit.dialog.ts
  apps/web/src/app/features/inventory/modules/bank/components/bank-form.component.ts
  apps/web/src/app/features/inventory/modules/bank/components/bank-import.dialog.ts
  apps/web/src/app/features/inventory/modules/bank/components/bank-list-filters.component.ts
  apps/web/src/app/features/inventory/modules/bank/components/bank-list-header.component.ts
  apps/web/src/app/features/inventory/modules/bank/components/bank-list.component.html
  apps/web/src/app/features/inventory/modules/bank/components/bank-list.component.scss
  apps/web/src/app/features/inventory/modules/bank/components/bank-list.component.ts
  apps/web/src/app/features/inventory/modules/bank/components/bank-view.dialog.ts
  apps/web/src/app/features/inventory/modules/bank/services/bank.service.ts
  apps/web/src/app/features/inventory/modules/bank/types/bank.types.ts
  apps/web/src/app/features/inventory/modules/budgets/budgets.routes.ts
  apps/web/src/app/features/inventory/modules/budgets/components/budgets-create.dialog.ts
  apps/web/src/app/features/inventory/modules/budgets/components/budgets-edit.dialog.ts
  apps/web/src/app/features/inventory/modules/budgets/components/budgets-form.component.ts
  apps/web/src/app/features/inventory/modules/budgets/components/budgets-import.dialog.ts
  apps/web/src/app/features/inventory/modules/budgets/components/budgets-list-filters.component.ts
  apps/web/src/app/features/inventory/modules/budgets/components/budgets-list-header.component.ts
  apps/web/src/app/features/inventory/modules/budgets/components/budgets-list.component.html
  apps/web/src/app/features/inventory/modules/budgets/components/budgets-list.component.scss
  apps/web/src/app/features/inventory/modules/budgets/components/budgets-list.component.ts
  apps/web/src/app/features/inventory/modules/budgets/components/budgets-view.dialog.ts
  apps/web/src/app/features/inventory/modules/budgets/services/budgets.service.ts
  apps/web/src/app/features/inventory/modules/budgets/types/budgets.types.ts
  apps/web/src/app/features/inventory/pages/master-data/master-data.config.ts
  docs/features/inventory-app/09-development-plan/checklists/FRONTEND_CHECKLIST.md
Due: prettier --write, eslint --fix --max-warnings=0

chore(inventory): add thai descriptions to master-data modules
  apps/web/src/app/features/inventory/pages/master-data/master-data.config.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(api): assign admin role to all master-data module permissions
  apps/api/src/database/migrations-inventory/20251207073443_add_locations_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073502_add_departments_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073511_add_companies_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073532_add_drugGenerics_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073543_add_dosageForms_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073553_add_drugUnits_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073615_add_budgetTypes_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073626_add_budgetCategories_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073709_add_bank_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073719_add_hospitals_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073843_add_returnActions_permissions.ts
  apps/api/src/database/migrations-inventory/20251207074320_add_budgets_permissions.ts
  apps/api/src/database/migrations-inventory/20251207074424_add_drugComponents_permissions.ts
  apps/api/src/database/migrations-inventory/20251207074439_add_drugFocusLists_permissions.ts
  apps/api/src/database/migrations-inventory/20251207074455_add_drugPackRatios_permissions.ts
  apps/api/src/database/migrations-inventory/20251207074512_add_adjustmentReasons_permissions.ts
  apps/api/src/database/migrations-inventory/20251207082328_add_drugs_permissions.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(auth): implement wildcard permission for admin role
  apps/api/src/database/migrations-inventory/20251205211804_add_drugLots_permissions.ts
  apps/api/src/database/migrations-inventory/20251205211844_add_hospitalPharmaceuticalProducts_permissions.ts
  apps/api/src/database/migrations-inventory/20251205211848_add_inventory_permissions.ts
  apps/api/src/database/migrations-inventory/20251205211856_add_tmtMappings_permissions.ts
  apps/api/src/database/migrations-inventory/20251205212034_add_distributionTypes_permissions.ts
  apps/api/src/database/migrations-inventory/20251205212120_add_purchaseTypes_permissions.ts
  apps/api/src/database/migrations-inventory/20251205212138_add_returnReasons_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073443_add_locations_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073502_add_departments_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073511_add_companies_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073532_add_drugGenerics_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073543_add_dosageForms_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073553_add_drugUnits_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073615_add_budgetTypes_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073626_add_budgetCategories_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073636_add_contracts_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073659_add_contractItems_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073709_add_bank_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073719_add_hospitals_permissions.ts
  apps/api/src/database/migrations-inventory/20251207073843_add_returnActions_permissions.ts
  apps/api/src/database/migrations-inventory/20251207074320_add_budgets_permissions.ts
  apps/api/src/database/migrations-inventory/20251207074424_add_drugComponents_permissions.ts
  apps/api/src/database/migrations-inventory/20251207074439_add_drugFocusLists_permissions.ts
  apps/api/src/database/migrations-inventory/20251207074455_add_drugPackRatios_permissions.ts
  apps/api/src/database/migrations-inventory/20251207074512_add_adjustmentReasons_permissions.ts
  apps/api/src/database/migrations-inventory/20251207082328_add_drugs_permissions.ts
  apps/api/src/database/migrations/011_add_admin_wildcard_permission.ts
  docs/development/permission-fix-spec.md
  libs/aegisx-cli/templates/shared/permissions-migration.hbs
Due: prettier --write, eslint --fix --max-warnings=0

chore: merge remote develop branch
  README.md
  src/data/components.ts
  src/data/patterns.ts
  src/tools/patterns.tool.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: resolve TypeScript compilation errors in web app
  apps/web/src/app/core/user-profile/components/activity-log/activity-log.types.ts
  apps/web/src/app/core/users/components/activity-tab.component.ts
  apps/web/src/app/core/users/components/permissions-tab.component.ts
  apps/web/src/app/core/users/components/session-details.dialog.ts
  apps/web/src/app/core/users/components/session-filter.component.ts
  apps/web/src/app/core/users/components/sessions-tab.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: remove unsupported appearance property from ax-card components
  apps/web/src/app/core/users/components/activity-tab.component.ts
  apps/web/src/app/core/users/components/permissions-tab.component.ts
  apps/web/src/app/core/users/components/session-filter.component.ts
  apps/web/src/app/core/users/components/sessions-tab.component.ts
Due: prettier --write, eslint --fix --max-warnings=0
