Repository aegisx-platform/aegisx-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.{css,scss,less}": ["prettier --write"],
  "*.html": ["prettier --write"]
}

fix: resolve Angular Material floating label overlap with prefix icons
  PROJECT_STATUS.md
  apps/web/src/styles/components/_material-fixes.scss
Due: prettier --write

feat: comprehensive AegisX UI library linting fixes and development standards
  .vscode/extensions.json
  .vscode/settings.json
  docs/AEGISX_UI_STANDARDS.md
  libs/aegisx-ui/eslint.config.mjs
  libs/aegisx-ui/package.json
  libs/aegisx-ui/src/lib/directives/ax-scrollbar.directive.ts
  libs/aegisx-ui/src/lib/layouts/ax-classic/ax-classic-layout.component.ts
  libs/aegisx-ui/src/lib/layouts/ax-classic/simple-vertical-navigation.component.ts
  libs/aegisx-ui/src/lib/layouts/ax-compact/ax-compact-layout.component.html
  libs/aegisx-ui/src/lib/layouts/common/languages/languages.component.ts
  libs/aegisx-ui/src/lib/layouts/common/messages/messages.component.ts
  libs/aegisx-ui/src/lib/layouts/common/messages/messages.service.ts
  libs/aegisx-ui/src/lib/layouts/common/notifications/notifications.component.ts
  libs/aegisx-ui/src/lib/layouts/common/notifications/notifications.service.ts
  libs/aegisx-ui/src/lib/layouts/common/quick-chat/quick-chat.component.ts
  libs/aegisx-ui/src/lib/layouts/common/quick-chat/quick-chat.service.ts
  libs/aegisx-ui/src/lib/layouts/common/search/search.component.ts
  libs/aegisx-ui/src/lib/layouts/common/settings/settings.component.ts
  libs/aegisx-ui/src/lib/layouts/common/shortcuts/shortcuts.component.ts
  libs/aegisx-ui/src/lib/layouts/common/shortcuts/shortcuts.service.ts
  libs/aegisx-ui/src/lib/layouts/common/user/user.component.ts
  libs/aegisx-ui/src/lib/services/ax-media-watcher.service.ts
  libs/aegisx-ui/src/lib/services/config/config.service.ts
  libs/aegisx-ui/src/lib/services/icon.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

refactor: modernize constructor injection in aegisx-ui layout components
  libs/aegisx-ui/src/lib/layouts/common/quick-chat/quick-chat.component.ts
  libs/aegisx-ui/src/lib/layouts/common/search/search.component.ts
  libs/aegisx-ui/src/lib/layouts/common/settings/settings.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: enhance GitHub Actions Docker build with staging/production tag strategy
  .github/workflows/ci-cd.yml
  yarn.lock
Due: prettier --write

feat: implement auto-release flow with immediate Docker builds
  .github/workflows/ci-cd.yml
  .github/workflows/release.yml
Due: prettier --write

chore: cleanup unnecessary workflows
  .github/workflows/README.md
  .github/workflows/cleanup.yml
  .github/workflows/e2e.yml
  .github/workflows/security.yml
Due: prettier --write

chore: remove unused workflow configuration
  .github/workflow-config.yml
Due: prettier --write

fix: remove missing file references in Dockerfiles
  apps/admin/Dockerfile
  apps/api/Dockerfile
  apps/web/Dockerfile
Due: none

fix: finalize Docker build fixes - remove fail2ban version constraint and optimize cache handling
  .github/workflows/release.yml
  apps/admin/Dockerfile
Due: prettier --write

fix: upgrade Node.js to 20.19.0 to meet Angular 20.2.3 requirements
  apps/admin/Dockerfile
  apps/api/Dockerfile
  apps/web/Dockerfile
Due: none

fix: increase yarn network timeout to resolve ESOCKETTIMEDOUT errors
  .github/workflows/release.yml
  apps/admin/Dockerfile
  apps/api/Dockerfile
  apps/web/Dockerfile
Due: prettier --write

docs: update project status with complete Docker CI/CD pipeline implementation
  PROJECT_STATUS.md
Due: prettier --write

fix: add missing JWT authentication middleware to auth routes
  apps/api/src/modules/auth/auth.routes.ts
Due: prettier --write, eslint --fix --max-warnings=0

ci: switch to self-hosted runner on LayerStack ARM64
  .github/workflows/release.yml
Due: prettier --write

perf: suppress yarn warnings to speed up Docker builds
  .yarnrc.yml
  apps/admin/Dockerfile
  apps/api/Dockerfile
  apps/web/Dockerfile
Due: prettier --write

perf: major Docker build performance improvements
  .github/workflows/release.yml
  Dockerfile.base
  apps/admin/Dockerfile.dev
Due: prettier --write

refactor: replace complex workflow with simple, fast workflow
  .github/workflows/release.yml
  .github/workflows/release.yml.backup
Due: prettier --write

fix: resolve Angular build errors in all Dockerfiles
  apps/admin/Dockerfile
  apps/api/Dockerfile
  apps/web/Dockerfile
Due: none

refactor: simplify Dockerfiles and add multi-arch support
  .github/workflows/release.yml
  .yarnrc.yml
  Dockerfile.base
  apps/admin/Dockerfile
  apps/admin/Dockerfile.dev
  apps/admin/nginx.conf
  apps/api/Dockerfile
  apps/web/Dockerfile
  apps/web/nginx.conf
Due: prettier --write

chore: add semantic-release to package dependencies
  .github/workflows/release.yml
  package.json
  yarn.lock
Due: prettier --write

fix: add staging tag for easier deployment
  .github/workflows/release.yml
Due: prettier --write

fix: temporarily disable ARM64 builds to resolve lfstack.push error
  .github/workflows/release.yml
Due: prettier --write

fix: add Node.js memory optimization to all Dockerfiles
  apps/admin/Dockerfile
  apps/api/Dockerfile
  apps/web/Dockerfile
Due: none

fix: add comprehensive Docker build optimizations for all apps
  apps/admin/Dockerfile
  apps/api/Dockerfile
  apps/web/Dockerfile
Due: none

docs: update PROJECT_STATUS.md for Session 6 - authentication and navigation cleanup
  PROJECT_STATUS.md
Due: prettier --write

fix: add comprehensive debugging for self-hosted runner build issues
  .github/workflows/release.yml
  apps/api/Dockerfile
Due: prettier --write

fix: change Docker build platform from amd64 to arm64 for self-hosted runner
  .github/workflows/release.yml
Due: prettier --write

feat: optimize CI/CD workflow with parallel builds and enhanced monitoring
  .github/workflows/release.yml
  apps/api/Dockerfile
Due: prettier --write

feat: implement NavigationService with API integration and fallback support
  apps/web/src/app/app.routes.ts
  apps/web/src/app/app.ts
  apps/web/src/app/core/navigation.service.ts
  apps/web/src/app/debug-navigation.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: sync pnpm version between workflow and package.json
  .github/workflows/release.yml
Due: prettier --write

fix: resolve semantic-release commitlint validation errors
  .commitlintrc.json
  .github/workflows/release.yml
  commitlint.config.js
Due: prettier --write, eslint --fix --max-warnings=0

fix: remove conflicting commitlint JSON config and use JS config only
  .commitlintrc.json
  .github/workflows/release.yml
  commitlint.config.js
Due: prettier --write, eslint --fix --max-warnings=0

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

fix: resolve nginx configuration errors and update to pnpm
  apps/admin/Dockerfile
  apps/admin/nginx.conf
  apps/api/Dockerfile
  apps/web/Dockerfile
  apps/web/nginx.conf
  commitlint.config.js
Due: prettier --write, eslint --fix --max-warnings=0

fix: force Docker image pulls and ensure clean nginx configs
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 1.0.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

fix: remove must-revalidate from Cache-Control headers in nginx configs
  apps/admin/nginx.conf
  apps/web/nginx.conf
Due: none

chore(release): 1.0.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

fix: remove must-revalidate from ssl setup script nginx config template
  scripts/ssl-setup.sh
Due: none
