Repository aegisx-platform/aegisx-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.{css,scss,less}": ["prettier --write"],
  "*.html": ["prettier --write"]
}

docs: update project status with completed file upload system integration
  PROJECT_STATUS.md
Due: prettier --write

feat: implement API-first configuration with BaseUrl interceptor and WebSocket centralization
  apps/api/src/shared/websocket/websocket.gateway.ts
  apps/api/src/shared/websocket/websocket.plugin.ts
  apps/web/proxy.conf.json
  apps/web/src/app/app.config.ts
  apps/web/src/app/core/api-config.service.ts
  apps/web/src/app/core/auth.service.ts
  apps/web/src/app/core/base-url.interceptor.ts
  apps/web/src/app/features/settings/settings.service.ts
  apps/web/src/app/features/user-profile/components/activity-log/activity-log.service.ts
  apps/web/src/app/features/users/user.service.ts
  apps/web/src/app/modules/rbac-management/services/rbac.service.ts
  apps/web/src/app/shared/components/file-upload/file-upload.service.ts
  apps/web/src/app/shared/services/websocket.service.ts
  apps/web/src/app/test-rbac-websocket.component.ts
  apps/web/src/environments/environment.prod.ts
  apps/web/src/environments/environment.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: implement comprehensive signed URL system for file uploads
  apps/api/src/main.ts
  apps/api/src/modules/file-upload/file-upload.controller.ts
  apps/api/src/modules/file-upload/file-upload.plugin.ts
  apps/api/src/modules/file-upload/file-upload.repository.ts
  apps/api/src/modules/file-upload/file-upload.routes.ts
  apps/api/src/modules/file-upload/file-upload.schemas.ts
  apps/api/src/modules/file-upload/file-upload.service.ts
  apps/api/src/shared/adapters/local-storage.adapter.ts
  apps/api/src/shared/factories/storage-adapter.factory.ts
  apps/api/src/shared/helpers/optional-auth.helper.ts
  apps/api/src/shared/interfaces/storage-adapter.interface.ts
  apps/api/src/shared/storage/adapters/local-storage.adapter.ts
  apps/api/src/shared/websocket/websocket.plugin.ts
  apps/web/src/app/pages/file-upload/file-upload.page.ts
  apps/web/src/app/shared/components/file-upload/file-management.component.ts
  apps/web/src/app/shared/components/file-upload/file-upload-demo.component.ts
  apps/web/src/app/shared/components/file-upload/file-upload.component.ts
  apps/web/src/app/shared/components/file-upload/file-upload.service.ts
  apps/web/src/app/shared/components/file-upload/file-upload.types.ts
  scripts/setup-env.sh
  test-file.txt
  uploads/avatars/.gitkeep
Due: prettier --write, eslint --fix --max-warnings=0

fix: enable WebSocket support and improve test component
  apps/api/src/main.ts
  apps/web/src/app/test-rbac-websocket.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: implement Smart View system and remove thumbnail pre-generation
  apps/api/src/main.ts
  apps/api/src/modules/file-upload/file-upload.controller.ts
  apps/api/src/modules/file-upload/file-upload.plugin.ts
  apps/api/src/modules/file-upload/file-upload.repository.ts
  apps/api/src/modules/file-upload/file-upload.routes.ts
  apps/api/src/modules/file-upload/file-upload.schemas.ts
  apps/api/src/modules/file-upload/file-upload.service.ts
  apps/api/src/shared/adapters/local-storage.adapter.ts
  apps/web/src/app/pages/file-upload/file-upload.page.ts
  apps/web/src/app/shared/components/file-upload/file-management.component.ts
  apps/web/src/app/shared/components/file-upload/file-upload-demo.component.ts
  apps/web/src/app/shared/components/file-upload/file-upload.component.ts
  apps/web/src/app/shared/components/file-upload/file-upload.service.ts
  apps/web/src/app/shared/components/file-upload/file-upload.types.ts
Due: prettier --write, eslint --fix --max-warnings=0

refactor: replace multiple file upload with sequential single uploads
  apps/web/src/app/shared/components/file-upload/file-upload.component.ts
  new-test-file.txt
  test-binary.zip
  test-executable.sh
  test-file1.txt
  test-file2.txt
  test-frontend-file.txt
  test-image.txt
Due: prettier --write, eslint --fix --max-warnings=0

fix: correct response handling in sequential upload
  apps/web/src/app/shared/components/file-upload/file-upload.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: implement optional duplicate detection with helpful suggestions
  apps/api/src/modules/file-upload/file-upload.controller.ts
  apps/api/src/modules/file-upload/file-upload.schemas.ts
  apps/api/src/modules/file-upload/file-upload.service.ts
  apps/web/src/app/shared/components/file-upload/file-upload.component.ts
  apps/web/src/app/shared/components/file-upload/file-upload.types.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: complete file upload system with Swagger UI integration
  CLAUDE.md
  apps/api/src/main.ts
  apps/api/src/modules/file-upload/file-upload.controller.ts
  apps/api/src/modules/file-upload/file-upload.plugin.ts
  apps/api/src/modules/file-upload/file-upload.repository.ts
  apps/api/src/modules/file-upload/file-upload.routes.ts
  apps/api/src/modules/file-upload/file-upload.schemas.ts
  apps/api/src/modules/file-upload/file-upload.service.ts
  apps/api/src/modules/user-profile/user-profile.plugin.ts
  apps/api/src/plugins/multipart.plugin.ts
  apps/web/src/app/pages/file-upload/file-upload.page.ts
  apps/web/src/app/shared/components/file-upload/file-upload.component.ts
  apps/web/src/app/shared/components/file-upload/file-upload.service.ts
  docs/api/file-upload-guide.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0

fix: remove /api prefix from user service endpoints to use interceptor
  apps/web/src/app/features/users/user.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: enhance setup-env.sh to create secure .env with 64-char JWT secrets
  scripts/setup-env.sh
Due: none

chore: comprehensive project cleanup and optimization
  .gitignore
  apps/web/src/styles.scss.backup
  archive/phase3-docs/CLONE_MERGE_PLAN.md
  archive/phase3-docs/CLONE_SETUP_GUIDE.md
  archive/phase3-docs/MULTI_CLONE_DEVELOPMENT_STANDARDS.md
  archive/phase3-docs/PHASE3_PROGRESS_TRACKER.md
  archive/phase3-docs/PHASE3_STATUS_REPORT.md
  archive/phase3-docs/PHASE3_WORK_DISTRIBUTION.md
  archive/phase3-docs/WORK_DISTRIBUTION.md
  archive/phase3-docs/WORK_DISTRIBUTION_PHASE3.md
  archive/phase3-docs/WORK_DISTRIBUTION_UPDATE.md
  new-test-file.txt
  quick-start.sh
  run-e2e-tests.sh
  scripts/deploy-app.sh
  scripts/fix-dependencies.sh
  scripts/fix-husky.sh
  scripts/setup-optimized-hooks.sh
  scripts/test-api-with-push.sh
  test-binary.zip
  test-bulk-operations.md
  test-executable.sh
  test-file.txt
  test-file1.txt
  test-file2.txt
  test-frontend-file.txt
  test-image.txt
  test-semantic-release.txt
Due: prettier --write

feat(crud-generator): add dependency on Real-time Event System
  docs/features/crud-generator/FEATURE.md
Due: prettier --write

feat: initialize realtime-event-system feature planning
  docs/features/realtime-event-system/API_CONTRACTS.md
  docs/features/realtime-event-system/FEATURE.md
  docs/features/realtime-event-system/PROGRESS.md
  docs/features/realtime-event-system/TASKS.md
  docs/features/realtime-event-system/realtime-integration.md
Due: prettier --write

feat: initialize aegisx-ui-improvements feature planning
  docs/features/aegisx-ui-improvements/API_CONTRACTS.md
  docs/features/aegisx-ui-improvements/FEATURE.md
  docs/features/aegisx-ui-improvements/PROGRESS.md
  docs/features/aegisx-ui-improvements/TASKS.md
  docs/features/aegisx-ui-improvements/realtime-integration.md
Due: prettier --write

feat: complete CRUD Generator CLI with conditional event integration
  apps/api/src/modules/apiKeys/apiKeys.controller.ts
  apps/api/src/modules/apiKeys/apiKeys.plugin.ts
  apps/api/src/modules/apiKeys/apiKeys.routes.ts
  apps/api/src/modules/apiKeys/apiKeys.service.ts
  apps/api/src/modules/apiKeys/apiKeys.types.ts
  apps/api/src/modules/notifications/notifications.controller.ts
  apps/api/src/modules/notifications/notifications.plugin.ts
  apps/api/src/modules/notifications/notifications.routes.ts
  apps/api/src/modules/notifications/notifications.service.ts
  apps/api/src/modules/notifications/notifications.types.ts
  apps/api/src/modules/themes/themes.controller.ts
  apps/api/src/modules/themes/themes.plugin.ts
  apps/api/src/modules/themes/themes.routes.ts
  apps/api/src/modules/themes/themes.service.ts
  apps/api/src/modules/themes/themes.types.ts
  package.json
  pnpm-lock.yaml
  tools/crud-generator/index.js
  tools/crud-generator/package.json
  tools/crud-generator/src/database.js
  tools/crud-generator/src/generator.js
  tools/crud-generator/src/knex-connection.js
  tools/crud-generator/src/validator.js
  tools/crud-generator/templates/controller.hbs
  tools/crud-generator/templates/plugin.hbs
  tools/crud-generator/templates/routes.hbs
  tools/crud-generator/templates/schemas.hbs
  tools/crud-generator/templates/service.hbs
  tools/crud-generator/templates/test.hbs
  tools/crud-generator/templates/types.hbs
Due: prettier --write, eslint --fix --max-warnings=0

fix: update swagger plugin configuration
  apps/api/src/plugins/swagger.plugin.ts
Due: prettier --write, eslint --fix --max-warnings=0

docs: update PROJECT_STATUS.md for Session 16 - AegisX UI Universal Angular Compatibility
  PROJECT_STATUS.md
Due: prettier --write

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

feat: implement global API_PREFIX environment variable system
  .env.example
  .env.production.example
  .env.staging
  .env.test
  apps/api/src/main.ts
  apps/api/src/modules/auth/auth.routes.ts
  apps/api/src/modules/default/default.routes.ts
  apps/api/src/modules/file-upload/file-upload.plugin.ts
  apps/api/src/modules/monitoring/monitoring.plugin.ts
  apps/api/src/modules/navigation/navigation.plugin.ts
  apps/api/src/modules/settings/settings.plugin.ts
  apps/api/src/modules/themes/index.ts
  apps/api/src/modules/users/users.routes.ts
  apps/api/src/shared/websocket/websocket.plugin.ts
  apps/e2e/.env.example
Due: prettier --write, eslint --fix --max-warnings=0

feat: standardize authentication system and fix CRUD Generator templates
  apps/api/src/modules/file-upload/file-upload.routes.ts
  apps/api/src/modules/settings/settings.routes.ts
  apps/api/src/modules/themes/__tests__/themes.test.ts
  apps/api/src/modules/themes/index.ts
  apps/api/src/modules/themes/repositories/themes.repository.ts
  apps/api/src/modules/themes/routes/index.ts
  apps/api/src/modules/themes/schemas/themes.schemas.ts
  apps/api/src/modules/themes/services/themes.service.ts
  apps/api/src/modules/themes/types/themes.types.ts
  tools/crud-generator/templates/domain/route.hbs
  tools/crud-generator/templates/routes.hbs
Due: prettier --write, eslint --fix --max-warnings=0

docs: update PROJECT_STATUS.md for Session 17
  PROJECT_STATUS.md
Due: prettier --write

fix: register missing business feature plugins
  apps/api/src/bootstrap/plugin.loader.ts
Due: prettier --write, eslint --fix --max-warnings=0

docs: add comprehensive API Key Management documentation
  docs/features/api-key-management/DEVELOPER_GUIDE.md
  docs/features/api-key-management/README.md
  docs/features/api-key-management/USER_GUIDE.md
Due: prettier --write

docs: complete API Key Management system testing and finalization
  PROJECT_STATUS.md
  apps/api/src/core/system/default.routes.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(api-keys): implement comprehensive Redis-based caching system
  apps/api/src/modules/apiKeys/index.ts
  apps/api/src/modules/apiKeys/services/apiKeys-cache.service.ts
  apps/api/src/modules/apiKeys/services/apiKeys.service.ts
  docs/features/api-key-caching/API_REFERENCE.md
  docs/features/api-key-caching/ARCHITECTURE.md
  docs/features/api-key-caching/DEPLOYMENT_GUIDE.md
  docs/features/api-key-caching/DEVELOPER_GUIDE.md
  docs/features/api-key-caching/DOCUMENTATION_INDEX.md
  docs/features/api-key-caching/README.md
  docs/features/api-key-caching/TROUBLESHOOTING.md
  docs/features/api-key-caching/USER_GUIDE.md
Due: prettier --write, eslint --fix --max-warnings=0

docs: update PROJECT_STATUS.md with Angular restructure completion (Session 19)
  PROJECT_STATUS.md
Due: prettier --write

fix: update .gitignore to allow important test route files
  .gitignore
  apps/api/src/core/system/test-websocket.routes.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(dev-tools): add comprehensive test components for development and debugging
  apps/web/src/app/dev-tools/components/test-material.component.ts
  apps/web/src/app/dev-tools/components/test-navigation.component.ts
  apps/web/src/app/dev-tools/components/test-rbac-websocket.component.ts
  apps/web/src/app/dev-tools/pages/test-ax/test-ax.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

docs: update API documentation URLs from /api-docs to /documentation
  docs/api/file-upload-guide.md
  docs/architecture/backend-architecture.md
  docs/architecture/backend/fastify-plugins.md
  docs/development/universal-fullstack-standard.md
Due: prettier --write

feat(crud-generator): enhanced backend with cleanup and notifications API
  apps/api/src/database/migrations/20250928050932_add_notifications_permissions.ts
  apps/api/src/modules/notifications/__tests__/notifications.test.ts
  docs/api-reference/notifications-api.md
  tools/crud-generator/README.md
  tools/crud-generator/apps/api/src/database/migrations/20250928060607_add_notifications_permissions.ts
  tools/crud-generator/src/generator.js
  tools/crud-generator/src/role-generator.js
Due: prettier --write, eslint --fix --max-warnings=0

feat(crud-generator): add search buttons to frontend templates
  apps/api/src/modules/notifications/__tests__/notifications.test.ts
  apps/api/src/modules/notifications/controllers/notifications.controller.ts
  apps/api/src/modules/notifications/routes/index.ts
  apps/api/src/modules/notifications/schemas/notifications.schemas.ts
  apps/api/src/modules/notifications/services/notifications.service.ts
  apps/web/src/app/features/notifications/components/notifications-create.dialog.ts
  apps/web/src/app/features/notifications/components/notifications-edit.dialog.ts
  apps/web/src/app/features/notifications/components/notifications-form.component.ts
  apps/web/src/app/features/notifications/components/notifications-list.component.ts
  apps/web/src/app/features/notifications/services/notifications.service.ts
  apps/web/src/app/shared/utils/datetime.utils.ts
  tools/crud-generator/apps/api/src/database/migrations/20250930023333_add_notifications_permissions.ts
  tools/crud-generator/frontend-templates/create-dialog.hbs
  tools/crud-generator/frontend-templates/edit-dialog.hbs
  tools/crud-generator/frontend-templates/list-component.hbs
  tools/crud-generator/frontend-templates/shared-form.hbs
  tools/crud-generator/src/database.js
  tools/crud-generator/src/frontend-generator.js
Due: prettier --write, eslint --fix --max-warnings=0

feat(api): implement comprehensive UUID validation system
  apps/api/src/bootstrap/plugin.loader.ts
  apps/api/src/database/migrations/20250930152225_add_notifications_permissions.ts
  apps/api/src/database/migrations/20251001041217_add_articles_permissions.ts
  apps/api/src/modules/articles/controllers/articles.controller.ts
  apps/api/src/modules/articles/index.ts
  apps/api/src/modules/articles/repositories/articles.repository.ts
  apps/api/src/modules/articles/routes/index.ts
  apps/api/src/modules/articles/schemas/articles.schemas.ts
  apps/api/src/modules/articles/services/articles.service.ts
  apps/api/src/modules/articles/types/articles.types.ts
  apps/api/src/modules/notifications/__tests__/notifications.test.ts
  apps/api/src/modules/notifications/repositories/notifications.repository.ts
  apps/api/src/modules/notifications/schemas/notifications.schemas.ts
  apps/api/src/modules/notifications/services/notifications.service.ts
  apps/api/src/shared/repositories/base.repository.ts
  apps/api/src/shared/utils/uuid.utils.ts
  apps/api/src/test-uuid-validation.ts
  tools/crud-generator/templates/repository.hbs
Due: prettier --write, eslint --fix --max-warnings=0

docs: update project status for completed PDF export system implementation
  PROJECT_STATUS.md
Due: prettier --write
