Repository aegisx-platform/aegisx-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.{css,scss,less}": ["prettier --write"],
  "*.html": ["prettier --write"]
}

chore: update project configuration and module enhancements
  CLAUDE.md
  PROJECT_STATUS.md
  README.md
  apps/api/src/database/migrations/20251010032543_add_authors_permissions.ts
  apps/api/src/database/migrations/20251022014359_add_books_permissions.ts
  apps/api/src/modules/authors/services/authors.service.ts
  apps/api/src/modules/books/repositories/books.repository.ts
  apps/api/src/modules/books/routes/index.ts
  apps/api/src/modules/books/schemas/books.schemas.ts
  apps/api/src/modules/books/services/books.service.ts
  apps/api/src/modules/books/types/books.types.ts
  apps/api/src/schemas/base.schemas.ts
  apps/api/src/schemas/registry.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix --max-warnings=0

feat(crud-generator): add backend import template support for --with-import flag
  libs/aegisx-crud-generator/lib/generators/backend-generator.js
  libs/aegisx-crud-generator/lib/utils/import-field-analyzer.js
  libs/aegisx-crud-generator/templates/backend/domain/index.hbs
  libs/aegisx-crud-generator/templates/backend/import-routes.hbs
  libs/aegisx-crud-generator/templates/backend/import-service.hbs
  libs/aegisx-crud-generator/templates/backend/standard/plugin.hbs
Due: prettier --write, eslint --fix --max-warnings=0

feat(crud-generator): add backend import template support for --with-import flag
  libs/aegisx-crud-generator/templates/backend/domain/controller.hbs
  libs/aegisx-crud-generator/templates/backend/domain/schemas.hbs
  libs/aegisx-crud-generator/templates/backend/domain/service.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/create-dialog-v2.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/create-dialog.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/edit-dialog-v2.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/edit-dialog.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/import-dialog.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/list-component-v2.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/list-component.html-v2.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/list-filters-component-v2.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/list-header-component-v2.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/routes.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/service.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/shared-form-v2.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/shared-form.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/types.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/view-dialog-v2.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/view-dialog.hbs
Due: none

feat(crud-generator): add --with-import flag and import dialog generation
  libs/aegisx-crud-generator/bin/cli.js
  libs/aegisx-crud-generator/lib/generators/frontend-generator.js
Due: prettier --write, eslint --fix --max-warnings=0

chore: register budgets module and improve infrastructure
  apps/api/src/bootstrap/plugin.loader.ts
  apps/api/src/schemas/base.schemas.ts
  apps/api/src/shared/services/base-import.service.ts
  apps/web/src/app/app.routes.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(crud-generator): integrate state manager into list components with --with-events
  docs/crud-generator/EVENTS_GUIDE.md
  libs/aegisx-crud-generator/templates/frontend/v2/list-component-v2.hbs
Due: prettier --write

feat(events): implement WebSocket real-time import progress tracking
  apps/api/src/modules/authors/services/authors-import.service.ts
  apps/api/src/modules/budgets/services/budgets-import.service.ts
  apps/api/src/shared/services/base-import.service.ts
  apps/web/src/app/features/budgets/components/budgets-import.dialog.ts
  apps/web/src/app/features/budgets/services/budgets-state-manager.service.ts
  docs/crud-generator/EVENTS_GUIDE.md
  libs/aegisx-crud-generator/templates/frontend/v2/import-dialog.hbs
Due: prettier --write, eslint --fix --max-warnings=0

fix(templates): resolve TypeScript errors in generated CRUD modules
  apps/api/src/modules/budgets/controllers/budgets.controller.ts
  apps/api/src/modules/budgets/index.ts
  apps/api/src/modules/budgets/routes/index.ts
  apps/api/src/modules/budgets/schemas/budgets.schemas.ts
  apps/api/src/modules/budgets/services/budgets-import.service.ts
  apps/api/src/modules/budgets/services/budgets.service.ts
  apps/api/src/modules/budgets/types/budgets.types.ts
  apps/api/src/shared/services/base-import.service.ts
  apps/web/src/app/features/budgets/components/budgets-create.dialog.ts
  apps/web/src/app/features/budgets/components/budgets-edit.dialog.ts
  apps/web/src/app/features/budgets/components/budgets-import.dialog.ts
  apps/web/src/app/features/budgets/components/budgets-list.component.ts
  apps/web/src/app/features/budgets/services/budgets-state-manager.service.ts
  apps/web/src/app/features/budgets/services/budgets.service.ts
  apps/web/src/app/features/budgets/types/budgets.types.ts
  libs/aegisx-crud-generator/templates/frontend/v2/import-dialog.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/state-manager.hbs
Due: prettier --write, eslint --fix --max-warnings=0

fix(template): add resourceName parameter to backend import-service template
  apps/api/src/modules/budgets/services/budgets-import.service.ts
  libs/aegisx-crud-generator/templates/backend/import-service.hbs
Due: prettier --write, eslint --fix --max-warnings=0

fix(template): move service injection to constructor in state-manager
  apps/web/src/app/features/budgets/services/budgets-state-manager.service.ts
  libs/aegisx-crud-generator/templates/frontend/v2/state-manager.hbs
Due: prettier --write, eslint --fix --max-warnings=0

fix(core): refactor BaseRealtimeStateManager initialization lifecycle
  apps/web/src/app/features/budgets/components/budgets-list.component.ts
  apps/web/src/app/features/budgets/services/budgets-state-manager.service.ts
  apps/web/src/app/shared/business/services/base-realtime-state-manager.ts
  libs/aegisx-crud-generator/templates/frontend/v2/state-manager.hbs
Due: prettier --write, eslint --fix --max-warnings=0

fix(crud-generator): fix export route order in template to prevent SQL errors
  PROJECT_STATUS.md
  apps/api/src/modules/budgets/controllers/budgets.controller.ts
  apps/api/src/modules/budgets/index.ts
  apps/api/src/modules/budgets/repositories/budgets.repository.ts
  apps/api/src/modules/budgets/routes/index.ts
  apps/api/src/modules/budgets/schemas/budgets.schemas.ts
  apps/api/src/modules/budgets/services/budgets.service.ts
  apps/api/src/modules/budgets/types/budgets.types.ts
  apps/api/src/shared/repositories/base.repository.ts
  apps/web/src/app/features/budgets/budgets.routes.ts
  apps/web/src/app/features/budgets/components/budgets-create.dialog.ts
  apps/web/src/app/features/budgets/components/budgets-edit.dialog.ts
  apps/web/src/app/features/budgets/components/budgets-form.component.ts
  apps/web/src/app/features/budgets/components/budgets-import.dialog.ts
  apps/web/src/app/features/budgets/components/budgets-list.component.ts
  apps/web/src/app/features/budgets/components/budgets-view.dialog.ts
  apps/web/src/app/features/budgets/services/budgets.service.ts
  apps/web/src/app/features/budgets/types/budgets.types.ts
  apps/web/src/app/shared/business/services/base-realtime-state-manager.ts
  libs/aegisx-crud-generator/lib/generators/backend-generator.js
  libs/aegisx-crud-generator/templates/backend/domain/index.hbs
  libs/aegisx-crud-generator/templates/backend/domain/repository.hbs
  libs/aegisx-crud-generator/templates/backend/domain/route.hbs
  libs/aegisx-crud-generator/templates/backend/standard/repository.hbs
Due: prettier --write, eslint --fix --max-warnings=0

feat(crud-generator): add backend event emission support (Phase 2)
  apps/api/src/modules/budgets/controllers/budgets.controller.ts
  apps/api/src/modules/budgets/index.ts
  apps/api/src/modules/budgets/routes/index.ts
  apps/api/src/modules/budgets/schemas/budgets.schemas.ts
  apps/api/src/modules/budgets/services/budgets.service.ts
  apps/api/src/modules/budgets/types/budgets.types.ts
  apps/web/src/app/features/budgets/components/budgets-create.dialog.ts
  apps/web/src/app/features/budgets/components/budgets-edit.dialog.ts
  apps/web/src/app/features/budgets/components/budgets-list.component.ts
  libs/aegisx-crud-generator/lib/generators/backend-generator.js
  libs/aegisx-crud-generator/templates/backend/domain/controller.hbs
  libs/aegisx-crud-generator/templates/backend/domain/index.hbs
Due: prettier --write, eslint --fix --max-warnings=0

docs: add comprehensive Pessimistic Locking implementation plan
  docs/features/TODO-PESSIMISTIC-LOCKING.md
Due: prettier --write

fix(crud-generator): use traditional API for list/search operations
  apps/web/src/app/features/budgets/components/budgets-list.component.ts
  libs/aegisx-crud-generator/templates/frontend/v2/list-component-v2.hbs
Due: prettier --write, eslint --fix --max-warnings=0

feat(templates): add conditional WebSocket event support with --with-events flag
  libs/aegisx-crud-generator/templates/backend/domain/index.hbs
  libs/aegisx-crud-generator/templates/backend/import-service.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/list-component-v2.hbs
Due: none

fix(templates): correct state manager usage in list component with --with-events
  apps/web/src/app/features/budgets/components/budgets-list.component.ts
  libs/aegisx-crud-generator/templates/frontend/v2/list-component-v2.hbs
Due: prettier --write, eslint --fix --max-warnings=0

fix(templates): use service data directly - state manager handles real-time updates separately
  apps/web/src/app/features/budgets/components/budgets-list.component.ts
  libs/aegisx-crud-generator/templates/frontend/v2/list-component-v2.hbs
Due: prettier --write, eslint --fix --max-warnings=0

feat(crud-generator): implement HIS mode with optional real-time CRUD updates
  apps/api/src/modules/budgets/controllers/budgets.controller.ts
  apps/web/src/app/features/budgets/components/budgets-create.dialog.ts
  apps/web/src/app/features/budgets/components/budgets-edit.dialog.ts
  apps/web/src/app/features/budgets/components/budgets-import.dialog.ts
  apps/web/src/app/features/budgets/components/budgets-list.component.ts
  apps/web/src/app/features/budgets/services/budgets.service.ts
  docs/crud-generator/EVENTS_GUIDE.md
  generate-budgets-frontend.js
  libs/aegisx-crud-generator/templates/backend/domain/controller.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/create-dialog-v2.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/edit-dialog-v2.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/import-dialog.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/list-component-v2.hbs
  libs/aegisx-crud-generator/templates/frontend/v2/service.hbs
Due: prettier --write, eslint --fix --max-warnings=0

docs: update PROJECT_STATUS.md for Session 43 - HIS Mode implementation
  PROJECT_STATUS.md
Due: prettier --write

docs(crud-generator): update documentation for v2.1.0 release with HIS Mode
  CLAUDE.md
  PROJECT_STATUS.md
  docs/crud-generator/CHANGELOG.md
  docs/crud-generator/README.md
  libs/aegisx-crud-generator/README.md
Due: prettier --write

chore: remove unused api-specs directory
  api-specs/openapi/README.md
  api-specs/openapi/aegisx-complete-api.yaml
  api-specs/openapi/auth-extensions-api.yaml
  api-specs/openapi/index.js
  api-specs/openapi/navigation-api.yaml
  api-specs/openapi/settings-api.yaml
  api-specs/openapi/swagger-config.js
  api-specs/openapi/user-profile-api.yaml
Due: prettier --write, eslint --fix --max-warnings=0

docs: update PROJECT_STATUS.md with comprehensive project review and reposition Summary section
  CLAUDE.md
  PROJECT_STATUS.md
Due: prettier --write

docs: update PROJECT_STATUS.md and CLAUDE.md for Session 44 complete
  CLAUDE.md
  PROJECT_STATUS.md
Due: prettier --write

docs(status): add Last Updated date and bottom note per MANDATORY policy
  PROJECT_STATUS.md
Due: prettier --write

docs(claude): cleanup session history to reduce duplication
  CLAUDE.md
Due: prettier --write

refactor: remove themes system module
  apps/api/src/bootstrap/plugin.loader.ts
  apps/api/src/core/README.md
  apps/api/src/core/themes/__tests__/themes.test.ts
  apps/api/src/core/themes/controllers/themes.controller.ts
  apps/api/src/core/themes/index.ts
  apps/api/src/core/themes/repositories/themes.repository.ts
  apps/api/src/core/themes/routes/index.ts
  apps/api/src/core/themes/schemas/themes.schemas.ts
  apps/api/src/core/themes/services/themes.service.ts
  apps/api/src/core/themes/types/themes.types.ts
  apps/api/src/database/migrations/20251008151511_add_themes_permissions.ts
Due: prettier --write, eslint --fix --max-warnings=0

docs(file-upload): add comprehensive refactor planning documentation
  PROJECT_STATUS.md
  docs/features/file-upload/FILE_UPLOAD_SYSTEM_REVIEW.md
  docs/features/file-upload/IMPLEMENTATION_CHECKLIST.md
  docs/features/file-upload/MULTIPLE_UPLOAD_ANALYSIS.md
  docs/features/file-upload/REFACTOR_PLAN.md
Due: prettier --write

chore: remove unused files and leftover test directories
  apps/api/src/healthcheck.js
  apps/api/src/test-uuid-validation.ts
Due: prettier --write, eslint --fix --max-warnings=0

docs: update PROJECT_STATUS.md and CLAUDE.md with Session 47b completion
  PROJECT_STATUS.md
Due: prettier --write

fix(auth): standardize error handling in auth middleware to prevent timeouts
  apps/api/src/core/auth/strategies/auth.strategies.ts
  apps/api/src/core/navigation/navigation-items.controller.ts
  apps/api/src/core/navigation/navigation-items.routes.ts
  apps/api/src/core/navigation/navigation.repository.ts
  apps/api/src/core/navigation/services/navigation.service.ts
  apps/api/src/core/users/users.routes.ts
  apps/web/src/app/app.routes.ts
  apps/web/src/app/core/rbac/dialogs/user-role-assign-dialog/user-role-assign-dialog.component.ts
  apps/web/src/app/core/rbac/rbac.routes.ts
  apps/web/src/app/core/rbac/services/navigation-items.service.ts
  docs/features/navigation-management/API_REFERENCE.md
  docs/features/navigation-management/ARCHITECTURE.md
  docs/features/navigation-management/DEVELOPER_GUIDE.md
  docs/features/navigation-management/DOCUMENTATION_INDEX.md
  docs/features/navigation-management/README.md
  docs/features/navigation-management/TROUBLESHOOTING.md
  docs/features/navigation-management/USER_GUIDE.md
  docs/features/rbac-management/TODO-CURRENT.md
  libs/aegisx-ui/src/lib/components/ax-navigation.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

docs: archive old sessions and restructure PROJECT_STATUS.md for better maintainability
  CLAUDE.md
  PROJECT_STATUS.md
  docs/sessions/ARCHIVE_2024_Q4.md
  docs/sessions/SESSION_TEMPLATE.md
Due: prettier --write

docs(api-keys): add comprehensive documentation with flow diagrams and architecture
  docs/features/api-keys/ARCHITECTURE.md
  docs/features/api-keys/DEVELOPER_GUIDE.md
  docs/features/api-keys/README.md
  docs/features/api-keys/USER_GUIDE.md
Due: prettier --write

feat(auth): add /permissions API endpoint for real-time permission checking
  apps/api/src/core/auth/auth.controller.ts
  apps/api/src/core/auth/auth.routes.ts
  apps/api/src/core/auth/auth.schemas.ts
  apps/api/src/core/auth/services/auth.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

refactor(web): reorganize navigation structure and add RBAC submenu
  apps/web/src/app/core/navigation/services/navigation.service.ts
  libs/aegisx-ui/src/lib/types/ax-navigation.types.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(api-keys): add API Keys Management System (Session 48)
  apps/api/src/core/api-keys/controllers/apiKeys.controller.ts
  apps/api/src/core/api-keys/index.ts
  apps/api/src/core/api-keys/repositories/apiKeys.repository.ts
  apps/api/src/core/api-keys/routes/index.ts
  apps/api/src/core/api-keys/schemas/apiKeys.schemas.ts
  apps/api/src/core/api-keys/services/apiKeys.service.ts
  apps/api/src/core/api-keys/types/apiKeys.types.ts
  apps/api/src/database/migrations/017_create_api_keys_table.ts
  apps/api/src/database/seeds/003_navigation_and_permissions.ts
  apps/web/src/app/core/api-keys/dialogs/generate-key-dialog.component.ts
  apps/web/src/app/core/api-keys/models/api-keys.types.ts
  apps/web/src/app/core/api-keys/pages/api-keys-management.component.ts
  apps/web/src/app/core/api-keys/services/api-keys.service.ts
  apps/web/src/app/core/settings/settings.routes.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(frontend): implement complete multi-role support (Session 49)
  apps/web/src/app/core/auth/services/auth.service.ts
  apps/web/src/app/core/rbac/models/rbac.interfaces.ts
  apps/web/src/app/core/rbac/pages/user-role-assignment/user-role-assignment.component.ts
  apps/web/src/app/core/user-profile/components/profile-info.component.ts
  apps/web/src/app/core/users/pages/user-list.component.ts
  apps/web/src/app/core/users/services/user.service.ts
  apps/web/src/app/shared/business/services/user-realtime-state.service.ts
  apps/web/src/app/shared/ui/components/realtime-user-list.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(backend): implement multi-role backend support (Priority 1 & 2)
  apps/api/src/bootstrap/plugin.loader.ts
  apps/api/src/core/auth/auth.repository.ts
  apps/api/src/core/auth/auth.types.ts
  apps/api/src/core/auth/services/auth.service.ts
  apps/api/src/core/auth/strategies/auth.strategies.ts
  apps/api/src/core/rbac/permission-cache.plugin.ts
  apps/api/src/core/rbac/rbac.controller.ts
  apps/api/src/core/rbac/services/permission-cache.service.ts
  apps/api/src/database/seeds/008_navigation_menu_production.ts
  apps/api/src/types/jwt.types.ts
Due: prettier --write, eslint --fix --max-warnings=0
