Repository aegisx-platform/aegisx-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

fix(crud-generator): use kebab-case for import service and routes file names
  libs/aegisx-crud-generator/lib/generators/backend-generator.js
Due: prettier --write, eslint --fix --max-warnings=0

fix(crud-generator): detect unique fields from database schema only
  libs/aegisx-crud-generator/lib/utils/import-field-analyzer.js
Due: prettier --write, eslint --fix --max-warnings=0

fix(crud-generator): fix bulk operation response property names in controller template
  libs/aegisx-crud-generator/templates/backend/domain/controller.hbs
Due: none

fix(crud-generator): add JSON field detection and transformer for import
  libs/aegisx-crud-generator/lib/utils/import-field-analyzer.js
Due: prettier --write, eslint --fix --max-warnings=0

fix(crud-generator): create individual transformer for each JSON field
  libs/aegisx-crud-generator/lib/utils/import-field-analyzer.js
Due: prettier --write, eslint --fix --max-warnings=0

chore(testProducts): regenerate with fixed CRUD generator
  apps/api/src/database/migrations/20251106052434_add_testProducts_permissions.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore: remove old camelCase import files (replaced by kebab-case versions)
  apps/api/src/database/migrations/20251106043948_add_testProducts_permissions.ts
  apps/api/src/modules/testProducts/routes/testProducts-import.routes.ts
  apps/api/src/modules/testProducts/services/testProducts-import.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

docs(status): update project status for Session 66
  PROJECT_STATUS.md
Due: prettier --write

fix(navigation): change home route to /home with redirect to prevent prefix matching
  apps/api/src/core/navigation/navigation.repository.ts
  apps/api/src/database/seeds/003_navigation_menu.ts
  apps/web/src/app/app.routes.ts
Due: prettier --write, eslint --fix --max-warnings=0

docs(status): update project status for Session 67 - Navigation Active State Fix
  PROJECT_STATUS.md
Due: prettier --write

fix(users): correct removeRoleFromUser response schema to match RoleOperationResponseSchema
  apps/api/src/core/users/users.controller.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(users): deduplicate user list query by removing LEFT JOIN duplication
  PROJECT_STATUS.md
  apps/api/src/core/users/users.routes.ts
  apps/api/src/core/users/users.schemas.ts
  apps/api/src/core/users/users.service.ts
  apps/api/src/core/users/users.types.ts
  apps/api/src/database/migrations/20251106064158_add_testCategories_permissions.ts
  apps/api/src/database/migrations/20251106123425_add_testProducts_permissions.ts
  apps/api/src/database/migrations/20251107_add_id_to_user_roles.ts
  apps/web/src/app/core/users/components/bulk-role-change-dialog.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

refactor(ui): standardize button styling to Material Design patterns
  apps/web/src/app/shared/components/entity-attachments/entity-attachments.component.html
  apps/web/src/app/shared/components/upload-widget/upload-widget.component.html
Due: prettier --write

feat(theme): implement unified Material UI + TailwindCSS theme system
  apps/web/src/app/app.ts
  apps/web/src/app/core/settings/pages/settings.component.ts
  apps/web/src/app/core/theme/index.ts
  apps/web/src/app/core/theme/theme-loader.component.ts
  apps/web/src/app/core/theme/theme-switcher.component.ts
  apps/web/src/app/core/theme/theme.service.ts
  apps/web/src/app/pages/welcome/home.page.ts
  apps/web/src/styles.scss
  apps/web/src/styles/theme-variables.scss
  apps/web/src/styles/themes/deeppurple-amber.css
  apps/web/src/styles/themes/indigo-pink.css
  apps/web/src/styles/themes/pink-bluegrey.css
  apps/web/src/styles/themes/purple-green.css
  docs/features/theme-system/IMPLEMENTATION_GUIDE.md
Due: prettier --write, eslint --fix --max-warnings=0

feat(users): implement assignment info modal for role details
  apps/web/src/app/core/users/components/bulk-role-change-dialog.component.ts
  apps/web/src/app/core/users/components/role-assignment-info-modal.component.ts
  apps/web/src/app/core/users/pages/user-list.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

style(users): format UI components for consistency
  apps/web/src/app/core/users/components/bulk-role-change-dialog.component.ts
  apps/web/src/app/core/users/components/role-assignment-info-modal.component.ts
  apps/web/src/app/core/users/pages/user-list.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(users): implement activity, permissions, and sessions tabs in user detail page
  apps/web/src/app/core/users/components/activity-tab.component.ts
  apps/web/src/app/core/users/components/permissions-tab.component.ts
  apps/web/src/app/core/users/components/sessions-tab.component.ts
  apps/web/src/app/core/users/pages/user-detail.component.ts
  docs/features/user-management/API_ALIGNMENT_MATRIX.md
Due: prettier --write, eslint --fix --max-warnings=0

fix(users): resolve Tailwind CSS circular dependency in user-detail styles
  apps/web/src/app/core/users/components/permissions-tab.component.ts
  apps/web/src/app/core/users/pages/user-detail.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(users): implement Activity Tab component with HTTP client integration
  apps/web/src/app/core/users/components/activity-tab.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(users): resolve HttpClient injection context error in Activity Tab component
  apps/web/src/app/core/users/components/activity-tab.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(theme): complete Material Design 3 theme system implementation
  apps/web/src/app/app.ts
  apps/web/src/app/core/settings/pages/settings.component.ts
  apps/web/src/app/core/theme/index.ts
  apps/web/src/app/core/theme/theme-loader.component.ts
  apps/web/src/app/core/theme/theme-switcher.component.ts
  apps/web/src/app/core/theme/theme.service.ts
  apps/web/src/app/pages/welcome/home.page.ts
  apps/web/src/assets/styles/themes/deeppurple-amber.css
  apps/web/src/assets/styles/themes/indigo-pink.css
  apps/web/src/assets/styles/themes/pink-bluegrey.css
  apps/web/src/assets/styles/themes/purple-green.css
  apps/web/src/styles.scss
  apps/web/src/styles/components/_material-fixes.scss
  apps/web/src/styles/material-theme-config.scss
  apps/web/src/styles/theme-variables.scss
  apps/web/src/styles/themes/deeppurple-amber.css
  apps/web/src/styles/themes/indigo-pink.css
  apps/web/src/styles/themes/pink-bluegrey.css
  apps/web/src/styles/themes/purple-green.css
  libs/aegisx-ui/src/lib/components/index.ts
  libs/aegisx-ui/src/lib/components/theme-switcher/index.ts
  libs/aegisx-ui/src/lib/components/theme-switcher/theme-switcher.component.ts
  libs/aegisx-ui/src/lib/layouts/ax-classic/ax-classic-layout.component.html
  libs/aegisx-ui/src/lib/layouts/ax-compact/ax-compact-layout.component.html
  libs/aegisx-ui/src/lib/services/index.ts
  libs/aegisx-ui/src/lib/services/theme/index.ts
  libs/aegisx-ui/src/lib/services/theme/m3-color-utils.ts
  libs/aegisx-ui/src/lib/services/theme/m3-theme.service.ts
  libs/aegisx-ui/src/lib/services/theme/m3-theme.types.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(rbac): implement multiple roles per user support with audit logging
  apps/api/src/core/rbac/rbac.controller.ts
  apps/api/src/core/rbac/rbac.repository.ts
  apps/api/src/core/rbac/rbac.routes.ts
  apps/api/src/core/rbac/rbac.schemas.ts
  apps/api/src/core/rbac/rbac.service.ts
  apps/api/src/database/migrations/20251108_create_role_assignment_history.ts
  apps/web/src/app/core/rbac/dialogs/user-role-assign-dialog/user-role-assign-dialog.component.ts
  apps/web/src/app/core/rbac/dialogs/user-roles-management-dialog/user-roles-management-dialog.component.ts
  apps/web/src/app/core/rbac/models/rbac.interfaces.ts
  apps/web/src/app/core/rbac/pages/user-role-assignment/user-role-assignment.component.ts
  apps/web/src/app/core/rbac/services/rbac.service.ts
  docs/features/rbac/API_CONTRACTS.md
Due: prettier --write, eslint --fix --max-warnings=0

fix(theme): integrate with existing SCSS theme system
  libs/aegisx-ui/src/lib/services/theme/m3-theme.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(api): add admin endpoint for viewing specific user's activity sessions
  apps/api/src/core/user-profile/activity-logs.routes.ts
  apps/api/src/core/user-profile/user-activity.controller.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(sessions): correct stats endpoint URL from /activity-logs/sessions/stats to /activity-logs/stats
  apps/web/src/app/core/user-profile/components/activity-log/sessions.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(activity): standardize activity sessions response format to match PaginatedResponseSchema
  apps/api/src/core/user-profile/user-activity.schemas.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(activity): enable session ID tracking from JWT tokens and cookies
  apps/api/src/core/user-profile/user-activity.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

refactor(styles): migrate material-fixes to aegisx-ui library for monorepo reusability
  apps/admin/src/styles.scss
  apps/web/src/app/app.routes.ts
  apps/web/src/app/pages/theme-showcase/sections/advanced.section.ts
  apps/web/src/app/pages/theme-showcase/sections/buttons-actions.section.ts
  apps/web/src/app/pages/theme-showcase/sections/data-display.section.ts
  apps/web/src/app/pages/theme-showcase/sections/feedback.section.ts
  apps/web/src/app/pages/theme-showcase/sections/form-controls.section.ts
  apps/web/src/app/pages/theme-showcase/sections/layout.section.ts
  apps/web/src/app/pages/theme-showcase/sections/navigation.section.ts
  apps/web/src/app/pages/theme-showcase/theme-showcase.page.ts
  apps/web/src/app/pages/welcome/home.page.ts
  apps/web/src/styles.scss
  libs/aegisx-ui/src/lib/components/theme-switcher/theme-switcher.component.ts
  libs/aegisx-ui/src/lib/services/index.ts
  libs/aegisx-ui/src/lib/services/theme/index.ts
  libs/aegisx-ui/src/lib/services/theme/m3-theme.service.ts
  libs/aegisx-ui/src/lib/services/theme/style-preset.service.ts
  libs/aegisx-ui/src/lib/services/theme/style-preset.types.ts
  libs/aegisx-ui/src/lib/styles/ax.scss
  libs/aegisx-ui/src/lib/styles/components/_material-fixes.scss
Due: prettier --write, eslint --fix --max-warnings=0

refactor(sessions): apply Material Dialog structure with proper title/content/actions
  apps/web/src/app/core/users/components/session-details.dialog.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(styles): remove overly broad card selector that was adding unwanted shadows to custom card classes
  apps/web/src/app/pages/welcome/home.page.ts
  apps/web/src/styles.scss
Due: prettier --write, eslint --fix --max-warnings=0

refactor(styles): allow Material Design 3 cards to display with default styling
  libs/aegisx-ui/src/lib/styles/components/_material-fixes.scss
Due: prettier --write

feat(styles): add Material Design 3 outline border to cards using system color token
  libs/aegisx-ui/src/lib/styles/components/_material-fixes.scss
Due: prettier --write

refactor(admin/styles): migrate Material component overrides to official mat.*-overrides() mixins
  apps/admin/src/app/pages/components-demo/components-demo.component.html
  apps/admin/src/styles/components/_material-overrides.scss
Due: prettier --write

refactor(styles): migrate from Tremor to AegisX Design Tokens
  apps/admin/src/app/app.scss
  apps/admin/src/app/pages/components-demo/components-demo.component.html
  apps/admin/src/app/pages/components-demo/components-demo.component.scss
  apps/admin/src/app/pages/dashboard/dashboard.component.html
  apps/admin/src/app/pages/dashboard/dashboard.component.scss
  apps/admin/src/app/pages/dashboard/dashboard.component.ts
  apps/admin/src/app/pages/user-management/user-management.component.html
  apps/admin/src/app/pages/user-management/user-management.component.scss
  apps/admin/src/app/pages/user-management/user-management.component.ts
  docs/themes/README.md
  docs/themes/how-to-add-theme.md
  libs/aegisx-ui/src/lib/styles/themes/_aegisx-tokens.scss
  libs/aegisx-ui/src/lib/styles/themes/_material-overrides.scss
  libs/aegisx-ui/src/lib/styles/themes/aegisx-dark.scss
  libs/aegisx-ui/src/lib/styles/themes/aegisx-light.scss
Due: prettier --write, eslint --fix --max-warnings=0

refactor(ui): complete AegisX theme migration and cleanup
  apps/admin/project.json
  apps/admin/public/themes/tremor-theme.css
  apps/admin/src/app/app.config.ts
  apps/admin/src/app/app.html
  apps/admin/src/app/app.routes.ts
  apps/admin/src/app/app.ts
  apps/admin/src/app/nx-welcome.ts
  apps/admin/src/app/pages/components-demo/components-demo.component.ts
  apps/admin/src/app/services/tremor-theme.service.ts
  apps/admin/src/index.html
  apps/admin/src/styles.scss
  apps/admin/src/styles/components/_material-overrides.scss
  apps/web/src/index.html
  apps/web/src/styles.scss
  libs/aegisx-ui/src/lib/components/ax-layout-switcher.component.ts
  libs/aegisx-ui/src/lib/components/ax-theme-switcher.component.ts
  libs/aegisx-ui/src/lib/components/index.ts
  libs/aegisx-ui/src/lib/styles/ax.scss
  libs/aegisx-ui/src/lib/styles/components/_material-fixes.scss
  libs/aegisx-ui/src/lib/styles/index.scss
  libs/aegisx-ui/src/lib/styles/tailwind.scss
  libs/aegisx-ui/src/lib/styles/themes/dark.scss
  libs/aegisx-ui/src/lib/styles/themes/default.scss
Due: prettier --write, eslint --fix --max-warnings=0

refactor(tokens): migrate to Tremor Design System color palette
  libs/aegisx-ui/src/lib/styles/themes/_aegisx-tokens.scss
Due: prettier --write

feat(admin): add Design Tokens reference page with 87 tokens
  apps/admin/src/app/app.routes.ts
  apps/admin/src/app/app.ts
  apps/admin/src/app/pages/design-tokens/design-tokens.component.html
  apps/admin/src/app/pages/design-tokens/design-tokens.component.scss
  apps/admin/src/app/pages/design-tokens/design-tokens.component.spec.ts
  apps/admin/src/app/pages/design-tokens/design-tokens.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(admin): add visual color samples to intensity scale
  apps/admin/src/app/pages/design-tokens/design-tokens.component.html
  apps/admin/src/app/pages/design-tokens/design-tokens.component.scss
Due: prettier --write

feat(admin): add Material Button color examples section
  apps/admin/src/app/pages/design-tokens/design-tokens.component.html
  apps/admin/src/app/pages/design-tokens/design-tokens.component.scss
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss,less})) or (any of: *.html)
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
