Repository aegisx-platform/aegisx-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --max-warnings=0"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.{css,scss,less}": ["prettier --write"],
  "*.html": ["prettier --write"]
}

chore(spec): mark task 3.9 complete - Batch 2 testing passed
  .spec-workflow/specs/api-architecture-standardization/tasks.md
Due: prettier --write

docs(architecture): add migration patterns and best practices guide
  docs/architecture/api-standards/07-migration-patterns.md
Due: prettier --write

feat(specs): add Inventory feature specifications
  .spec-workflow/specs/inventory-backend-api/design.md
  .spec-workflow/specs/inventory-backend-api/requirements.md
  .spec-workflow/specs/inventory-backend-api/tasks.md
  .spec-workflow/specs/inventory-frontend-ui/design.md
  .spec-workflow/specs/inventory-frontend-ui/requirements.md
  .spec-workflow/specs/inventory-frontend-ui/tasks.md
Due: prettier --write

docs(architecture): create comprehensive architecture specification with real-world insights
  docs/architecture/api-standards/02-architecture-specification.md
Due: prettier --write

feat(cli): add layer classification utility with decision tree
  libs/aegisx-cli/lib/utils/__tests__/layer-classifier.test.js
  libs/aegisx-cli/lib/utils/layer-classifier.js
Due: prettier --write, eslint --fix --max-warnings=0

feat(cli): update backend plugin template with layer-based conditional logic
  libs/aegisx-cli/templates/backend/domain/TEMPLATE_VARIABLES.md
  libs/aegisx-cli/templates/backend/domain/index.hbs
Due: prettier --write

feat(spec): add Procurement API and UI specifications
  .spec-workflow/specs/procurement-api/design.md
  .spec-workflow/specs/procurement-api/requirements.md
  .spec-workflow/specs/procurement-api/tasks.md
  .spec-workflow/specs/procurement-ui/design.md
  .spec-workflow/specs/procurement-ui/requirements.md
  .spec-workflow/specs/procurement-ui/tasks.md
Due: prettier --write

feat(core): migrate auth and audit modules to Core layer
  .spec-workflow/specs/api-architecture-standardization/tasks.md
  apps/api/src/bootstrap/plugin.loader.ts
  apps/api/src/layers/core/audit/audit.plugin.ts
  apps/api/src/layers/core/audit/base/base.controller.ts
  apps/api/src/layers/core/audit/base/base.repository.ts
  apps/api/src/layers/core/audit/base/base.schemas.ts
  apps/api/src/layers/core/audit/base/base.service.ts
  apps/api/src/layers/core/audit/base/index.ts
  apps/api/src/layers/core/audit/file-audit/file-audit.controller.ts
  apps/api/src/layers/core/audit/file-audit/file-audit.plugin.ts
  apps/api/src/layers/core/audit/file-audit/file-audit.repository.ts
  apps/api/src/layers/core/audit/file-audit/file-audit.routes.ts
  apps/api/src/layers/core/audit/file-audit/file-audit.schemas.ts
  apps/api/src/layers/core/audit/file-audit/file-audit.service.ts
  apps/api/src/layers/core/audit/file-audit/index.ts
  apps/api/src/layers/core/audit/login-attempts/index.ts
  apps/api/src/layers/core/audit/login-attempts/login-attempts.controller.ts
  apps/api/src/layers/core/audit/login-attempts/login-attempts.plugin.ts
  apps/api/src/layers/core/audit/login-attempts/login-attempts.repository.ts
  apps/api/src/layers/core/audit/login-attempts/login-attempts.routes.ts
  apps/api/src/layers/core/audit/login-attempts/login-attempts.schemas.ts
  apps/api/src/layers/core/audit/login-attempts/login-attempts.service.ts
  apps/api/src/layers/core/auth/auth.controller.ts
  apps/api/src/layers/core/auth/auth.plugin.ts
  apps/api/src/layers/core/auth/auth.repository.ts
  apps/api/src/layers/core/auth/auth.routes.ts
  apps/api/src/layers/core/auth/auth.schemas.ts
  apps/api/src/layers/core/auth/auth.types.ts
  apps/api/src/layers/core/auth/services/account-lockout.service.ts
  apps/api/src/layers/core/auth/services/auth.service.ts
  apps/api/src/layers/core/auth/services/email-verification.service.ts
  apps/api/src/layers/core/auth/services/password-reset.service.ts
  apps/api/src/layers/core/auth/services/secure-auth.service.ts
  apps/api/src/layers/core/auth/strategies/auth.strategies.ts
  apps/api/src/test-helpers/app-helper.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore(spec): mark task 6.2 complete - auth and audit migrated to Core layer
  .spec-workflow/specs/api-architecture-standardization/tasks.md
Due: prettier --write

feat(spec): add TMT Frontend UI specification
  .spec-workflow/specs/tmt-frontend-ui/design.md
  .spec-workflow/specs/tmt-frontend-ui/requirements.md
  .spec-workflow/specs/tmt-frontend-ui/tasks.md
Due: prettier --write

chore(spec): mark task 6.3 complete - inventory and admin domain migration
  .spec-workflow/specs/api-architecture-standardization/Implementation Logs/task-6-3_2025-12-14T1616_5c7e0002.md
  .spec-workflow/specs/api-architecture-standardization/tasks.md
Due: prettier --write

chore(spec): mark task 6.4 complete - high-risk migration testing
  .spec-workflow/specs/api-architecture-standardization/Implementation Logs/task-6-4_2025-12-15T0005_7f9f1f48.md
  .spec-workflow/specs/api-architecture-standardization/tasks.md
Due: prettier --write

test(api): fix migration-related TypeScript compilation errors
  .spec-workflow/specs/api-architecture-standardization/Implementation Logs/task-7-1_2025-12-15T0105_03135a8d.md
  .spec-workflow/specs/api-architecture-standardization/tasks.md
  apps/api/src/__tests__/integration/assertions.ts
  apps/api/src/__tests__/integration/auth-flow.integration.spec.ts
  apps/api/src/__tests__/integration/request-helper.ts
  apps/api/src/layers/core/auth/strategies/auth.strategies.ts
  apps/api/src/test-helpers/app-helper.ts
  apps/api/src/types/fastify.d.ts
  docs/analysis/platform/fuse-architecture-analysis.md
  docs/archive/2024-Q4/migration-summary-archived.md
Due: prettier --write, eslint --fix --max-warnings=0

docs: update master documentation index with comprehensive navigation
  .spec-workflow/specs/docs-restructure/tasks.md
  docs/README.md
Due: prettier --write

test(e2e): analyze E2E test suite coverage for critical user journeys
  .spec-workflow/specs/api-architecture-standardization/Implementation Logs/task-7-3_2025-12-15T0147_73d90dca.md
  .spec-workflow/specs/api-architecture-standardization/tasks.md
Due: prettier --write

docs: initialize VitePress static site generator
  .spec-workflow/specs/docs-restructure/tasks.md
  docs/.vitepress/config.mts
  docs/features/templates/template-api-reference.md
  docs/index.md
  package.json
Due: prettier --write

chore(docs): mark Phase 5 tasks as complete
  .spec-workflow/specs/docs-restructure/tasks.md
Due: prettier --write

feat(docs): complete comprehensive link validation
  .spec-workflow/specs/docs-restructure/link-validation-report.md
  .spec-workflow/specs/docs-restructure/tasks.md
  docs/.vitepress/config.mts
Due: prettier --write

docs(nav): complete navigation completeness review
  .spec-workflow/specs/docs-restructure/navigation-review-report.md
  .spec-workflow/specs/docs-restructure/tasks.md
Due: prettier --write

docs(contrib): add contribution guide and update CLAUDE.md
  .spec-workflow/specs/docs-restructure/tasks.md
  CLAUDE.md
  docs/getting-started/contributing.md
Due: prettier --write

feat(spec): complete task 8.1 - production deployment guide with dark launch strategy
  .spec-workflow/specs/api-architecture-standardization/tasks.md
  apps/api/src/core/import/plugin/import-discovery.plugin.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(spec): complete task 8.2 - migration mode activation guide
  .spec-workflow/specs/api-architecture-standardization/tasks.md
Due: prettier --write

fix(docs): resolve dayjs import error in VitePress dev server
  docs/.vitepress/config.mts
Due: none

feat(spec): complete task 8.4 - monitor and track deprecated route usage
  .spec-workflow/specs/api-architecture-standardization/tasks.md
Due: prettier --write

docs: add Development, Infrastructure, and Testing sections to navigation
  docs/.vitepress/config.mts
Due: none

feat(docs): enable Features section with Handlebars syntax handling
  docs/.vitepress/config.mts
Due: none

fix: quote YAML frontmatter values with brackets in feature templates
  docs/features/templates/template-architecture.md
  docs/features/templates/template-deployment-guide.md
  docs/features/templates/template-developer-guide.md
  docs/features/templates/template-readme.md
  docs/features/templates/template-troubleshooting.md
Due: prettier --write

fix: update imports to layers/ before cleanup
  apps/api/src/plugins/monitoring.plugin.ts
  apps/api/src/test-helpers/app-helper.ts
  apps/api/src/types/fastify.d.ts
Due: prettier --write, eslint --fix --max-warnings=0

refactor(docs): standardize file naming to kebab-case
  .spec-workflow/specs/api-architecture-standardization/Implementation Logs/task-8-6_2025-12-15T0516_37b7806e.md
  docs/.vitepress/config.mts
  docs/aegisx-cli/internal/contributing.md
  docs/apps/admin/README.md
  docs/apps/admin/architecture.md
  docs/architecture/api-standards/02-architecture-specification.md
  docs/architecture/api-standards/smoke-test-procedures.md
  docs/architecture/api-standards/test-results.md
  docs/archive/2024-Q4/sessions-archive.md
  docs/archive/2024-Q4/specifications/breadcrumb-enhancement-spec.md
  docs/archive/api-migration-2025/08-plugin-migration-guide.md
  docs/features/authentication/README.md
  docs/features/authentication/implementations/README.md
  docs/features/authentication/implementations/login-implementation.md
  docs/features/authentication/implementations/password-reset-implementation.md
  docs/features/authentication/implementations/refresh-token-implementation.md
  docs/features/authentication/implementations/registration-implementation.md
  docs/features/file-upload/multiple-upload-analysis.md
  docs/features/inventory-app/01-project/handoff.md
  docs/features/inventory-app/01-project/project-status.md
  docs/features/inventory-app/01-project/system-alignment.md
  docs/features/inventory-app/budget-request-submission/README.md
  docs/features/monitoring/user-guide.md
  docs/features/navigation/architecture.md
  docs/features/system-initialization/README.md
  docs/features/system-initialization/auto-discovery-import-system.md
  docs/features/system-initialization/frontend-specification.md
  docs/features/templates/README.md
  docs/features/user-departments/department-management-design.md
  docs/redirect-map.md
  docs/reference/ui/theme-system-standard.md
Due: prettier --write

fix(docs): disable dead link checking to allow build success
  docs/.vitepress/config.mts
Due: none

fix: resolve build errors after migration cleanup
  apps/api/src/bootstrap/plugin.loader.ts
  apps/api/src/core/system/default.routes.ts
  apps/api/src/layers/domains/admin/system-init/system-init.controller.ts
  apps/api/src/layers/domains/admin/system-init/system-init.service.ts
  apps/api/src/layers/platform/file-upload/file-upload.plugin.ts
  apps/api/src/layers/platform/navigation/navigation.plugin.ts
  apps/api/src/plugins/activity-logging/activity-config.ts
  apps/api/src/plugins/activity-logging/activity-logging.plugin.ts
  apps/api/src/plugins/activity-logging/activity-middleware.ts
  apps/api/src/types/fastify.d.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(docs): fix Features navigation and links
  docs/.vitepress/config.mts
  docs/development/README.md
  docs/features/README.md
Due: prettier --write

fix: resolve dev server startup errors after migration
  apps/api/src/bootstrap/plugin.loader.ts
  apps/api/src/core/system/default.routes.ts
  apps/api/src/layers/platform/import/plugin/import-discovery.plugin.ts
  apps/api/src/plugins/activity-logging/activity-logging.plugin.ts
  apps/api/src/plugins/activity-logging/activity-middleware.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(docs): fix all broken links in features index
  docs/.vitepress/config.mts
  docs/features/index.md
Due: prettier --write

fix(api): add core layer plugins for auth routes
  apps/api/src/bootstrap/plugin.loader.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(auth): add Redis-based permission cache system
  apps/api/src/bootstrap/plugin.loader.ts
  apps/api/src/layers/core/auth/permission-cache.plugin.ts
  apps/api/src/layers/core/auth/services/permission-cache.service.ts
  apps/api/src/layers/core/auth/strategies/auth.strategies.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(frontend): update departments API integration
  apps/web/src/app/features/inventory/modules/budget-requests/components/budget-requests-form.component.ts
  apps/web/src/app/features/inventory/modules/departments/services/departments.service.ts
Due: prettier --write, eslint --fix --max-warnings=0
