Repository aegisx-platform/aegisx-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

fix(aegisx-ui): add prismjs to peerDependencies
  libs/aegisx-ui/package.json
Due: prettier --write

fix(aegisx-ui): correct build output path to dist/libs/aegisx-ui
  libs/aegisx-ui/ng-package.json
Due: prettier --write

feat(splitter): add state persistence with stateKey and stateStorage
  apps/admin/src/app/pages/docs/components/aegisx/layout/splitter/splitter-doc.component.ts
  libs/aegisx-ui/src/lib/components/layout/splitter/splitter.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(admin): add theming page and tools navigation
  apps/admin/src/app/app.ts
  apps/admin/src/app/features/docs/foundations.routes.ts
  apps/admin/src/app/pages/docs/foundations/theming/theming.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(theme-builder): add live preview and import functionality
  libs/aegisx-ui/src/lib/components/theme-builder/preview-panel.component.ts
  libs/aegisx-ui/src/lib/components/theme-builder/theme-builder.component.ts
  libs/aegisx-ui/src/lib/components/theme-builder/theme-builder.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(ui): improve navbar icon and text contrast on color variants
  apps/admin/src/app/pages/navbar-demo/navbar-demo.component.ts
  libs/aegisx-ui/src/lib/components/navigation/navbar/components/navbar-icon-button.component.ts
  libs/aegisx-ui/src/lib/components/navigation/navbar/components/navbar-user.component.ts
  libs/aegisx-ui/src/lib/components/navigation/navbar/navbar.component.scss
Due: prettier --write, eslint --fix --max-warnings=0

feat(admin): add GitHub Pages deployment workflow for aegisx-ui docs
  .github/workflows/deploy-admin-docs.yml
  apps/admin/project.json
Due: prettier --write

docs(navbar): add navAlign examples in Examples tab
  apps/admin/src/app/pages/docs/components/aegisx/navigation/navbar/navbar-doc.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(ui): convert CSS nesting to flat selectors for native CSS compatibility
  libs/aegisx-ui/src/lib/components/card/card.component.ts
  libs/aegisx-ui/src/lib/components/error-state/error-state.component.ts
  libs/aegisx-ui/src/lib/components/feedback/splash-screen/splash-screen.component.ts
  libs/aegisx-ui/src/lib/components/file-upload/file-upload.component.ts
  libs/aegisx-ui/src/lib/components/integrations/signature-pad/signature-pad.component.ts
  libs/aegisx-ui/src/lib/components/launcher/launcher-card.component.ts
  libs/aegisx-ui/src/lib/components/launcher/launcher.component.ts
  libs/aegisx-ui/src/lib/components/navigation/command-palette/command-palette.component.ts
  libs/aegisx-ui/src/lib/components/navigation/command-palette/command-palette.service.ts
  libs/aegisx-ui/src/lib/components/navigation/command-palette/command-palette.types.ts
  libs/aegisx-ui/src/lib/components/navigation/command-palette/index.ts
  libs/aegisx-ui/src/lib/components/navigation/index.ts
  libs/aegisx-ui/src/lib/components/navigation/navbar/components/navbar-brand.component.ts
  libs/aegisx-ui/src/lib/components/navigation/navbar/components/navbar-icon-button.component.ts
  libs/aegisx-ui/src/lib/components/navigation/navbar/components/navbar-item.component.ts
  libs/aegisx-ui/src/lib/components/navigation/navbar/components/navbar-user.component.ts
  libs/aegisx-ui/src/lib/components/navigation/navigation.component.ts
  libs/aegisx-ui/src/lib/components/skeleton/skeleton-presets.component.ts
  libs/aegisx-ui/src/lib/components/skeleton/skeleton.component.ts
  libs/aegisx-ui/src/lib/components/theme-builder/theme-builder.component.ts
  libs/aegisx-ui/src/lib/components/theme-switcher/theme-switcher.component.ts
  libs/aegisx-ui/src/lib/widgets/dashboard/dashboard-builder/dashboard-builder.component.ts
  libs/aegisx-ui/src/lib/widgets/dashboard/dashboard-viewer/dashboard-viewer.component.ts
  libs/aegisx-ui/src/lib/widgets/dashboard/widget-host/widget-host.component.ts
  libs/aegisx-ui/src/lib/widgets/widgets/chart-widget/chart-widget.component.ts
  libs/aegisx-ui/src/lib/widgets/widgets/kpi-widget/kpi-widget.component.ts
  libs/aegisx-ui/src/lib/widgets/widgets/list-widget/list-widget.component.ts
  libs/aegisx-ui/src/lib/widgets/widgets/progress-widget/progress-widget.component.ts
  libs/aegisx-ui/src/lib/widgets/widgets/table-widget/table-widget.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(styles): replace deprecated Sass color functions with color.adjust()
  libs/aegisx-ui/src/lib/styles/themes/_aegisx-tokens.scss
Due: prettier --write

fix(styles): replace deprecated color.red/green/blue with color.channel()
  libs/aegisx-ui/src/lib/styles/themes/_aegisx-tokens.scss
Due: prettier --write

docs(infrastructure): add GitHub Pages deployment guide
  docs/infrastructure/GITHUB-PAGES-DEPLOYMENT.md
Due: prettier --write

feat(crud-generator): demo multi-app frontend generation with test_products
  apps/api/src/database/migrations/20251203042827_add_testProducts_permissions.ts
  apps/api/src/modules/testProducts/__tests__/test-products.test.ts
  apps/api/src/modules/testProducts/controllers/test-products.controller.ts
  apps/api/src/modules/testProducts/index.ts
  apps/api/src/modules/testProducts/routes/test-products-import.routes.ts
  apps/api/src/modules/testProducts/schemas/test-products.schemas.ts
  apps/api/src/modules/testProducts/services/test-products-import.service.ts
  apps/api/src/modules/testProducts/services/test-products.service.ts
  apps/api/src/modules/testProducts/types/test-products.types.ts
  apps/web/src/app/app.routes.ts
  apps/web/src/app/features/test-products/components/test-products-create.dialog.ts
  apps/web/src/app/features/test-products/components/test-products-edit.dialog.ts
  apps/web/src/app/features/test-products/components/test-products-import.dialog.ts
  apps/web/src/app/features/test-products/components/test-products-list-header.component.ts
  apps/web/src/app/features/test-products/components/test-products-list.component.html
  apps/web/src/app/features/test-products/components/test-products-list.component.ts
  apps/web/src/app/features/test-products/services/test-products.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(crud-generator): add shell-based route registration (--shell flag)
  docs/crud-generator/CHANGELOG.md
  docs/crud-generator/QUICK_REFERENCE.md
  libs/aegisx-crud-generator/bin/cli.js
Due: prettier --write, eslint --fix --max-warnings=0

ci(landing): add Docker and CI/CD support for landing app
  .github/workflows/release.yml
  apps/landing/Dockerfile
  apps/landing/nginx.conf
Due: prettier --write

refactor(admin): extract navigation config and layout utilities
  apps/admin/src/app/app.ts
  apps/admin/src/app/config/layout.config.ts
  apps/admin/src/app/config/navigation.config.ts
Due: prettier --write, eslint --fix --max-warnings=0

refactor(web): clean up test-products imports
  apps/web/src/app/features/test-products/components/test-products-create.dialog.ts
  apps/web/src/app/features/test-products/components/test-products-edit.dialog.ts
  apps/web/src/app/features/test-products/components/test-products-list-header.component.ts
  apps/web/src/app/features/test-products/components/test-products-list.component.html
  apps/web/src/app/features/test-products/components/test-products-list.component.ts
  apps/web/src/app/features/test-products/services/test-products.service.ts
Due: prettier --write, eslint --fix --max-warnings=0

chore: add open graph template image
  libs/aegisx-ui/repository-open-graph-template.png
Due: none

refactor(ui): migrate auth components to inject() function
  libs/aegisx-ui/src/lib/components/auth/auth-layout/ax-auth-layout.component.ts
  libs/aegisx-ui/src/lib/components/auth/confirm-email/ax-confirm-email.component.ts
  libs/aegisx-ui/src/lib/components/auth/forgot-password-form/ax-forgot-password-form.component.ts
  libs/aegisx-ui/src/lib/components/auth/index.ts
  libs/aegisx-ui/src/lib/components/auth/login-form/ax-login-form.component.ts
  libs/aegisx-ui/src/lib/components/auth/register-form/ax-register-form.component.ts
  libs/aegisx-ui/src/lib/components/auth/reset-password-form/ax-reset-password-form.component.ts
  libs/aegisx-ui/src/lib/components/auth/social-login/ax-social-login.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(admin): update monaco-editor assets path for build
  apps/admin/project.json
Due: prettier --write

fix(docs): move ax-code-tabs outside ax-prose wrapper to fix styling
  apps/admin/src/app/pages/docs/foundations/typography/typography-showcase.component.html
  apps/admin/src/app/pages/docs/getting-started/quick-start/quick-start-doc.component.html
  apps/admin/src/app/pages/docs/getting-started/quick-start/quick-start-doc.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(crud-generator): resolve Handlebars helper conflict with context variables
  libs/aegisx-crud-generator/lib/generators/shell-generator.js
Due: prettier --write, eslint --fix --max-warnings=0

feat(docs): add comprehensive input test section for dark mode validation
  apps/admin/src/app/pages/docs/patterns/form-layouts/form-layouts-doc.component.ts
  libs/aegisx-ui/src/lib/components/index.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(examples): add error page examples (404, 500, 403, maintenance)
  apps/admin/src/app/app.routes.ts
  apps/admin/src/app/config/layout.config.ts
  apps/admin/src/app/config/navigation.config.ts
  apps/admin/src/app/pages/examples/error/error-403.component.ts
  apps/admin/src/app/pages/examples/error/error-404.component.ts
  apps/admin/src/app/pages/examples/error/error-500.component.ts
  apps/admin/src/app/pages/examples/error/index.ts
  apps/admin/src/app/pages/examples/error/maintenance.component.ts
  apps/admin/src/app/routes/examples/examples.routes.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(examples): add authentication page examples
  apps/admin/src/app/config/layout.config.ts
  apps/admin/src/app/config/navigation.config.ts
  apps/admin/src/app/pages/examples/auth/confirm-email.component.ts
  apps/admin/src/app/pages/examples/auth/forgot-password.component.ts
  apps/admin/src/app/pages/examples/auth/index.ts
  apps/admin/src/app/pages/examples/auth/login.component.ts
  apps/admin/src/app/pages/examples/auth/register.component.ts
  apps/admin/src/app/pages/examples/auth/reset-password.component.ts
  apps/admin/src/app/routes/examples/examples.routes.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: initial release of @aegisx/mcp
  .gitignore
  LICENSE
  README.md
  bin/cli.js
  claude_desktop_config.example.json
  package-lock.json
  package.json
  src/data/components.ts
  src/data/crud-commands.ts
  src/data/patterns.ts
  src/index.ts
  src/resources/index.ts
  src/tools/components.tool.ts
  src/tools/crud.tool.ts
  src/tools/index.ts
  src/tools/patterns.tool.ts
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0

Squashed 'libs/aegisx-mcp/' content from commit 99ceafe3
  .gitignore
  LICENSE
  README.md
  bin/cli.js
  claude_desktop_config.example.json
  package-lock.json
  package.json
  src/data/components.ts
  src/data/crud-commands.ts
  src/data/patterns.ts
  src/index.ts
  src/resources/index.ts
  src/tools/components.tool.ts
  src/tools/crud.tool.ts
  src/tools/index.ts
  src/tools/patterns.tool.ts
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0

chore(aegisx-mcp): add sync-to-repo script
  sync-to-repo.sh
Due: none

chore(aegisx-mcp): add sync-to-repo script
  libs/aegisx-mcp/sync-to-repo.sh
Due: none

docs(infrastructure): add git subtree documentation
  CLAUDE.md
  docs/infrastructure/git-subtree-guide.md
Due: prettier --write

feat(auth): add authentication documentation and examples
  apps/admin/src/app/config/layout.config.ts
  apps/admin/src/app/config/navigation.config.ts
  apps/admin/src/app/pages/docs/components/aegisx/auth/auth-doc.component.ts
  apps/admin/src/app/pages/docs/components/aegisx/auth/examples/confirm-email-example.component.ts
  apps/admin/src/app/pages/docs/components/aegisx/auth/examples/forgot-password-example.component.ts
  apps/admin/src/app/pages/docs/components/aegisx/auth/examples/login-example.component.ts
  apps/admin/src/app/pages/docs/components/aegisx/auth/examples/register-example.component.ts
  apps/admin/src/app/pages/docs/components/aegisx/auth/examples/reset-password-example.component.ts
  apps/admin/src/app/routes/docs/components-aegisx/auth.routes.ts
  apps/admin/src/app/routes/docs/components-aegisx/index.ts
  libs/aegisx-ui/src/lib/components/index.ts
  libs/aegisx-ui/src/lib/components/loading-button/ax-loading-button.component.ts
  libs/aegisx-ui/src/lib/components/loading-button/index.ts
Due: prettier --write, eslint --fix --max-warnings=0

docs(status): update for Session 79 - MCP Server & Git Subtree
  PROJECT_STATUS.md
Due: prettier --write

fix(aegisx-mcp): use Zod schemas for MCP tool parameters
  package-lock.json
  package.json
  src/index.ts
  src/tools/components.tool.ts
  src/tools/index.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix(routes): use static import paths for lazy loading components
  apps/admin/src/app/routes/docs/components-aegisx/data-display.routes.ts
  apps/admin/src/app/routes/docs/components-aegisx/feedback.routes.ts
  apps/admin/src/app/routes/docs/components-aegisx/forms.routes.ts
  apps/admin/src/app/routes/docs/components-aegisx/index.ts
  apps/admin/src/app/routes/docs/components-aegisx/layout.routes.ts
  apps/admin/src/app/routes/docs/components-aegisx/navigation.routes.ts
  apps/admin/src/app/routes/docs/components-aegisx/utilities.routes.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(inventory): setup Phase 0 - environment for inventory system
  apps/api/src/database/migrations-inventory/.gitkeep
  apps/api/src/database/seeds-inventory/.gitkeep
  docs/features/inventory-app/09-development-plan/FEATURE_STATUS.md
  docs/features/inventory-app/09-development-plan/PROJECT_PROGRESS.md
  docs/features/inventory-app/09-development-plan/QUICK_INDEX.md
  docs/features/inventory-app/09-development-plan/checklists/API_CHECKLIST.md
  docs/features/inventory-app/09-development-plan/checklists/DATABASE_CHECKLIST.md
  docs/features/inventory-app/09-development-plan/checklists/FRONTEND_CHECKLIST.md
  docs/features/inventory-app/09-development-plan/phases/PHASE_0_SETUP.md
  docs/features/inventory-app/09-development-plan/phases/PHASE_1_DATABASE.md
  docs/features/inventory-app/09-development-plan/phases/PHASE_2_DATA_MIGRATION.md
  docs/features/inventory-app/09-development-plan/phases/PHASE_3_BACKEND.md
  docs/features/inventory-app/09-development-plan/phases/PHASE_4_FRONTEND.md
  knexfile-inventory.ts
  package.json
Due: prettier --write, eslint --fix --max-warnings=0

feat(inventory): add Phase 1 database migrations for INVS Modern
  apps/api/src/database/migrations-inventory/20251205000001_create_inventory_schema.ts
  apps/api/src/database/migrations-inventory/20251205000002_create_enums.ts
  apps/api/src/database/migrations-inventory/20251205000003_create_locations.ts
  apps/api/src/database/migrations-inventory/20251205000004_create_departments.ts
  apps/api/src/database/migrations-inventory/20251205000005_create_budget_types.ts
  apps/api/src/database/migrations-inventory/20251205000006_create_budget_categories.ts
  apps/api/src/database/migrations-inventory/20251205000007_create_budgets.ts
  apps/api/src/database/migrations-inventory/20251205000008_create_bank.ts
  apps/api/src/database/migrations-inventory/20251205000009_create_companies.ts
  apps/api/src/database/migrations-inventory/20251205000010_create_dosage_forms.ts
  apps/api/src/database/migrations-inventory/20251205000011_create_drug_units.ts
  apps/api/src/database/migrations-inventory/20251205000012_create_drug_generics.ts
  apps/api/src/database/migrations-inventory/20251205000013_create_drugs.ts
  apps/api/src/database/migrations-inventory/20251205000014_create_drug_components.ts
  apps/api/src/database/migrations-inventory/20251205000015_create_drug_focus_lists.ts
  apps/api/src/database/migrations-inventory/20251205000016_create_drug_pack_ratios.ts
  apps/api/src/database/migrations-inventory/20251205000017_create_adjustment_reasons.ts
  apps/api/src/database/migrations-inventory/20251205000018_create_hospitals.ts
  apps/api/src/database/migrations-inventory/20251205000019_create_return_actions.ts
  apps/api/src/database/migrations-inventory/20251205000020_create_purchase_methods.ts
  apps/api/src/database/migrations-inventory/20251205000021_create_purchase_types.ts
  apps/api/src/database/migrations-inventory/20251205000022_create_budget_allocations.ts
  apps/api/src/database/migrations-inventory/20251205000023_create_budget_plans.ts
  apps/api/src/database/migrations-inventory/20251205000024_create_budget_reservations.ts
  apps/api/src/database/migrations-inventory/20251205000025_create_contracts.ts
  apps/api/src/database/migrations-inventory/20251205000026_create_purchase_requests.ts
  apps/api/src/database/migrations-inventory/20251205000027_create_purchase_orders.ts
  apps/api/src/database/migrations-inventory/20251205000028_create_receipts.ts
  apps/api/src/database/migrations-inventory/20251205000029_create_approvals_payments.ts
  apps/api/src/database/migrations-inventory/20251205000030_create_inventory_tables.ts
  apps/api/src/database/migrations-inventory/20251205000031_create_distribution_tables.ts
  apps/api/src/database/migrations-inventory/20251205000032_create_return_tables.ts
  apps/api/src/database/migrations-inventory/20251205000033_create_tmt_tables.ts
  apps/api/src/database/migrations-inventory/20251205000034_create_hpp_tables.ts
  apps/api/src/database/migrations-inventory/20251205000035_create_functions.ts
  apps/api/src/database/migrations-inventory/20251205000036_create_views.ts
Due: prettier --write, eslint --fix --max-warnings=0

refactor(aegisx-ui): use AxLoadingButtonComponent in auth forms
  PROJECT_STATUS.md
  libs/aegisx-ui/src/lib/components/auth/confirm-email/ax-confirm-email.component.ts
  libs/aegisx-ui/src/lib/components/auth/forgot-password-form/ax-forgot-password-form.component.ts
  libs/aegisx-ui/src/lib/components/auth/login-form/ax-login-form.component.ts
  libs/aegisx-ui/src/lib/components/auth/register-form/ax-register-form.component.ts
  libs/aegisx-ui/src/lib/components/auth/reset-password-form/ax-reset-password-form.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat(inventory): add seed system with reference data
  apps/api/src/database/migrations-inventory/20251205000037_create_seed_metadata.ts
  apps/api/src/database/scripts/inventory-import-tmt.ts
  apps/api/src/database/seeds-inventory/001_reference_data.ts
  package.json
Due: prettier --write, eslint --fix --max-warnings=0

docs(inventory): add comprehensive Phase 1 documentation
  docs/apps/inventory/01-database-architecture.md
  docs/apps/inventory/02-migration-standards.md
  docs/apps/inventory/03-seed-system.md
  docs/apps/inventory/README.md
Due: prettier --write

fix(auth-doc): use solid colors for icon backgrounds in Live Examples cards
  apps/admin/src/app/pages/docs/components/aegisx/auth/auth-doc.component.ts
Due: prettier --write, eslint --fix --max-warnings=0

Path conditions:
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss,less})) or (any of: *.html)
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
